include filters
div.equip
    div.wrapper-large
        div.col-md-4.no-padding
          aside.sidebar
            include register
            include register-collective
        div.col-md-8
            div.loader(ng-hide='resourceItem.$resolved')
                include ../partials/loader

            table.table.table--refund(ng-show='resourceItem.$resolved && list.length')
                thead.table__head
                    tr.table__row.table__divider.table__row--centered
                        td.table__cell Nome / Setor
                        td.table__cell Criação
                        td.table__cell Período
                        td.table__cell
                            p saldo
                            p
                                | (dias por direito x usufruidos )
                        td.table__cell Status

                tbody.table__body

                    tr.table__row.table__row--ok.table__row--border.table__row--centered(dir-paginate="item in list | itemsPerPage: pagination.limit",total-items="pagination.total" current-page="pagination.current_page",ng-class="{ 'table__divider': expanded }")
                        td.table__cell {{ item.name }}
                        td.table__cell {{ item.created_at.date | amDateFormat: 'DD/MM/YYYY'}}
                        td.table__cell
                            p
                                span inicio
                                span {{ item.starting | amDateFormat: 'DD/MM/YYYY' }}
                            p
                                span fim
                                span {{ item.ending | amDateFormat: 'DD/MM/YYYY' }}
                        td.table__cell
                            p.progress-bar
                        td.table__cell(ng-init='item.$resolved = true;')
                            div.input-border.input-group__small(ng-hide='!item.$resolved')
                                select.inside-input(ng-selected='item.status',ng-options='item.slug as item.name for item in statuses',ng-change='saveStatus(item)',ng-model='item.status',ng-disabled='item.status == "paid" || item.status == "refused" || !UserService.isAdmin()')
                            div.loader.little(ng-hide='item.$resolved')
                                include ../partials/loader

            div(ng-show='resourceItem.$resolved && !list.length')
                include ../partials/no-results

            include ../partials/pagination
