form(ng-submit='saveOrUpdate()',ng-controller='VacationsRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar__wrapper

        div.col-xs-12
            h1.sidebar__title {{ title }}

        div
            div.col-xs-12
                label.label-small
                    | Usuário
                div.input-border.input-group__small
                    select.inside-input(ng-options='item as item.display_name for item in users',ng-model='vacation.user',ng-if='UserService.isAdmin()',required='required' )
                    select.inside-input(ng-options='item as item.display_name for item in [UserService.user()]',ng-model='vacation.user',ng-if='!UserService.isAdmin()',ng-init='vacation.user_id = UserService.userId();',required='required')

            div.col-xs-6
                label.label-small
                    | Ínicio
                input.input-border(ng-model='vacation.starting',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

            div.col-xs-6
                label.label-small
                    | Fim
                input.input-border(ng-model='vacation.ending',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

            span(ng-if='!UserService.isAdmin()',ng-init='vacation.status = "requested"')
            div.col-xs-12(ng-if='UserService.isAdmin()')
                label.label-small
                    | Status
                div.input-border.input-group__small
                    select.inside-input(ng-options='item.slug as item.name for item in statuses',ng-model='vacation.status',ng-selected='requested',required='')

    .sidebar__wrapper.text-center
        button.bt.bt--green.bt--l(ng-hide='!vacation.$resolved')
            | {{ vacation.id ? 'Salvar' : 'Cadastrar' }}

        div.loader.little(ng-hide='vacation.$resolved')
            include ../partials/loader
