form(ng-submit='saveOrUpdate()',ng-controller='VacationsCollectiveRegisterController',autocomplete='off', name='RegisterForm',ng-if='UserService.isAdmin()')
    div.sidebar__wrapper

        div.col-xs-12
            h1.sidebar__title {{ title }}

        div
            div.col-xs-12
                label.label-small
                    | Setor
                div.input-border.input-group__small
                    select.inside-input(ng-options='item as item.name for item in departments',ng-model='vacation.department',ng-if='UserService.isAdmin()',ng-selected='all',required='required' )

            div.col-xs-6
                label.label-small
                    | Ínicio
                input.input-border(ng-model='vacation.starting',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

            div.col-xs-6
                label.label-small
                    | Fim
                input.input-border(ng-model='vacation.ending',ui-date-mask,convert-date='YYYY-MM-DD',required='required')


    .sidebar__wrapper.text-center
        button.bt.bt--green.bt--l(ng-hide='!vacation.$resolved')
            | {{ vacation.id ? 'Salvar' : 'Cadastrar' }}

        div.loader.little(ng-hide='vacation.$resolved')
            include ../partials/loader
