div.dashboard

  div.wrapper-large

    div.dashboard__container
    
      div.col-md-12.no-padding
        .col-md-2
          section.dashboard-card
            img.dashboard-card__bg(src="http://shuzhong.biz/wp-content/uploads/2016/03/office_images_hd_2362_1920_1080.jpeg", alt="")

            header.dashboard-card__cover
              figure.dashboard-card__ilustration.dashboard-card__ilustration--image
                img.dashboard-card__image(src="http://placehold.it/100x100", alt="")

              h1.dashboard-card__title Perfil
              
        .col-md-4
          section.dashboard-card.dashboard-card--expanded
            img.dashboard-card__bg(src="http://shuzhong.biz/wp-content/uploads/2016/03/office_images_hd_2362_1920_1080.jpeg", alt="")

            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title equipe

            aside.dashboard-card__content
              h2.dashboard-card__subtitle feed

              ul.dashboard-card__list
                li.dashboard-card__item 23 Novos funcionários
                li.dashboard-card__item 14 Alterações
                li.dashboard-card__item 5 Convites aceitos

        .col-md-2
          section.dashboard-card.dashboard-card--red
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-calendar")

              h1.dashboard-card__title calendário

        .col-md-2
          section.dashboard-card.dashboard-card--white
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-notification")

              h1.dashboard-card__title notifications

        .col-md-2
          section.dashboard-card.dashboard-card--black
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title relatórios
       
      div.col-md-12.no-padding

        .col-md-2
          section.dashboard-card.dashboard-card--blue
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title licenças

        .col-md-2
          section.dashboard-card.dashboard-card--green
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso

        .col-md-2
          section.dashboard-card.dashboard-card--white
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso

        .col-md-4
          section.dashboard-card.dashboard-card--expanded
            img.dashboard-card__bg(src="http://shuzhong.biz/wp-content/uploads/2016/03/office_images_hd_2362_1920_1080.jpeg", alt="")

            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title equipe

            aside.dashboard-card__content
              h2.dashboard-card__subtitle feed

              ul.dashboard-card__list
                li.dashboard-card__item 23 Novos funcionários
                li.dashboard-card__item 14 Alterações
                li.dashboard-card__item 5 Convites aceitos

        .col-md-2
          section.dashboard-card.dashboard-card--red
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso


      div.col-md-12.no-padding

        .col-md-2
          section.dashboard-card.dashboard-card--blue
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title licenças
              
        .col-md-4
          section.dashboard-card.dashboard-card--expanded
            img.dashboard-card__bg(src="http://shuzhong.biz/wp-content/uploads/2016/03/office_images_hd_2362_1920_1080.jpeg", alt="")

            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title equipe

            aside.dashboard-card__content
              h2.dashboard-card__subtitle feed

              ul.dashboard-card__list
                li.dashboard-card__item 23 Novos funcionários
                li.dashboard-card__item 14 Alterações
                li.dashboard-card__item 5 Convites aceitos

        .col-md-2
          section.dashboard-card.dashboard-card--green
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso

        .col-md-2
          section.dashboard-card.dashboard-card--white
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso

        .col-md-2
          section.dashboard-card.dashboard-card--red
            header.dashboard-card__cover
              div.dashboard-card__ilustration
                i.icon.icon--m
                  svg
                    use(xlink:href="#icon-reports")

              h1.dashboard-card__title reembolso
