div.payment
  include ../partials/header
  
  
  div.col-md-10.centered-grid
    include ../partials/breadcrubs
  
  form
    div.col-md-10.centered-grid.no-padding
      .col-md-4
        .payment__box
          h2.payment__title(data-number="1") Dados pessoais
          
          label Nome completo
          input.input-border.m-b-30(type='text', required='')
          
          label Endereço da fatura
          input.input-border.m-b-30(type='text', required='')
          
          label Data de nascimento
          input.input-border.m-b-30(type='text', required='')
          
          label Telefone
          input.input-border.m-b-30(type='text', required='')
        
      .col-md-4
        .payment__box
          h2.payment__title(data-number="2") Forma de pagamento
          
          div.payment__type
            .payment__radio-box
              input(type="radio", name="cartao", value="cartao", checked)
              i.payment__type-icon.glyphicon.glyphicon-credit-card.m-l-30.m-r-30
              label Cartão
              
            .payment__type-info
              label Nome do titular
              input.input-border.m-b-30(type='text', required='')
              
              label Numero do cartão
              input.input-border.m-b-30(type='text', required='')
              
              div
                .col-md-6
                  label CVV
                  input.input-border.m-b-30(type='text', required='')
                
                .col-md-6
                  label Validade
                  input.input-border.m-b-30(type='date', required='')
              
          div.payment__type
            .payment__radio-box
              input(type="radio", name="boleto", value="boleto")
              i.payment__type-icon.glyphicon.glyphicon-credit-card.m-l-30.m-r-30
              label Boleto
              
            .payment__type-info
              p Para que seu pagamento seja realizado, enviaremos o boleto de cobrança para seu email de cadastro, você pode paga-lo de duas formas:
              
              p - Imprima e pague na lotérica mais próxima
              p - Page pelo seu Internet Backing
          
          
        
      .col-md-4
        .payment__box
          h2.payment__title(data-number="3") Resumo do pedido
          
          p.text-muted Plano Standart
          p.text-muted Vigencia: 
            strong 02/2016 á 02/2017
          p.text-muted Validade: 
            strong 21/02/2017
            
          .input-group
            input.form-control(type='text')
            span.input-group-btn
              button.btn.btn-default(type='button') Validar cupom!
              
          ul.list-account
            li.list-account__item
              span.col-md-6 subtotal
              span.col-md-6.text-right R$ 200,00
              
            li.list-account__item
              span.col-md-6 cupom
              span.col-md-6.text-right R$ -50,00
              
            li.list-account__total
              span.col-md-6 Total
              span.col-md-6.text-right R$ 150,00
              
          button.bt.bt--full.bt--radius.uppercase(type="submit") contratar
            
          

  div.auth__footer-container
    div.auth__footer.col-xs-10.col-md-10
      include ../partials/footer
