div.auth
  include ../partials/header-large
  include ../partials/back-to-top
  include nav
  
  div.equip
    div.wrapper-large
      include profile-card
    
  div.footer
    include ../partials/footer
