.wrapper-large
  .page-nav
    div.filter.col-md-5
      include ../partials/breadcrubs
      
    div.filter.col-md-7
      div.col-xs-3(ng-controller="ToggleController")
        div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
          select.visuallyhidden
            option(ng-repeat="option in options") {{ option }}
          div.custom-select__input
            | Departamento
            
            ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
              li.custom-select__item(ng-repeat="option in options") {{ option }}
          
      div.col-xs-3(ng-controller="ToggleController")
        div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
          select.visuallyhidden
            option(ng-repeat="option in options") {{ option }}
          div.custom-select__input
            | cargo
            
            ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
              li.custom-select__item(ng-repeat="option in options") {{ option }}
            
      div.col-xs-4
        .input-icon
          i.icon.icon__default.icon--search
            svg
             use(xlink:href="#icon-search")
          .input-icon--tel
          input.input-border.input-group__small(type='text', required='', placeholder="Pesquise por nome, email, etc")
      
      div.col-xs-2
        button.bt.bt--green
          i.icon.icon__default.icon--white
            svg
              use(xlink:href="#icon-export")
          span exportar
