div.auth
  include ../partials/header-large
  
  div.equip.page-content

    div.wrapper-large
      include ../partials/breadcrubs
      
    div.wrapper-large
    
      div.sidebar.col-md-3.no-padding
        div.sidebar__wrapper
        
          div.col-xs-12
            h1.secundary-title cadastro de reembolso
          
          div
            div.col-xs-12
              label.label-small
                | nome
              input.input-border(type='text', required='')
              
            div.col-xs-12
              label.label-small
                | tipo da empresa
              input.input-border(type='text', required='')
            
            div.col-xs-6
              label.label-small
                | data
              input.input-border(type='text', required='')
              
            div.col-xs-6
              label.label-small
                  | valor
                input.input-border(type='text', required='')
              
            div.col-xs-12
              label.label-small
                | descrição
              textarea.input-border.textarea(required='')
              
              
            div.col-xs-12
              h1.secundary-title
                p cadastro de reembolso
                p R$ 100,00
              
            div.col-xs-12
              label.label-small
                | justificativa do reembolso
              textarea.input-border.textarea(required='')
            
            div.col-xs-12
              div(ng-controller="ToggleController")
                div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
                  select.visuallyhidden
                    option(ng-repeat="option in options") {{ option }}
                  div.custom-select__input
                    | cargo
                    
                    ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
                      li.custom-select__item(ng-repeat="option in options") {{ option }}
                    
            button.bt.bt--green.bt--block
              i.icon.icon__update.icon--mr
                svg
                 use(xlink:href="#icon-upload")
              | carregar devolutiva reembolso
            
            button.bt.bt--green.bt--block
              i.icon.icon__update.icon--mr
                svg
                 use(xlink:href="#icon-upload")
              | carregar recibo para reembolso
              
        ul.list
          li.list__item
            i.list__icon.icon.icon__clip.icon--mr
              svg
               use(xlink:href="#icon-clip")
               
            span.list__name recibo_estacionamento.pdf
            span.list__cancel.pull-right
              i.icon.icon__cancel
                svg
                 use(xlink:href="#icon-cancel")
            
          li.list__item
            i.list__icon.icon.icon__clip.icon--mr
              svg
               use(xlink:href="#icon-clip")
               
            span.list__name recibo_estacionamento.pdf
            span.list__cancel.pull-right
              i.icon.icon__cancel
                svg
                 use(xlink:href="#icon-cancel")
        .sidebar__wrapper.text-center
          button.bt.bt--green.bt--l
            | Cadastrar

    
      div.col-md-9
        table.table.table--refund
          thead.table__head
            tr.table__row.table__divider.table__row--centered
              td.table__cell
              td.table__cell nome
              td.table__cell criação
              td.table__cell data
              td.table__cell tipo
              td.table__cell valor
              td.table__cell valor aprovado
              td.table__cell status
              
          tbody.table__body(ng-controller="TableController")
            tr.table__row.table__row--ok.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
              td.table__cell
                button.bt__round.bt__round--green(ng-click="expandRow()")
                  i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
                  
              td.table__cell Jefferson Daniel Santos Silva
              td.table__cell 12/02/12
              td.table__cell 31/02/12
              td.table__cell Estacionamento
              td.table__cell R$ 200,00
              td.table__cell R$ 100,00
              td.table__cell
               p.arrow-down aprovado
            
            tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
              td(colspan="8")
                table.table
                  tbody
                    tr
                      td(colspan="2").table__cell
                        h3.text-muted Descrição do reembolso
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                    tr  
                      td.table__cell.text-muted Recibos Anexos
                      td.table__cell
                        i.list__icon.icon.icon__clip.icon--mr
                          svg
                           use(xlink:href="#icon-clip")
                           
                        span recibo_estacionamento.pdf
              
            tr.table__row.table__row--warning.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
              td.table__cell
                button.bt__round.bt__round--green(ng-click="expandRow()")
                  i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
                  
              td.table__cell Guilherme Andrade
              td.table__cell 12/02/12
              td.table__cell 31/02/12
              td.table__cell Estacionamento
              td.table__cell R$ 200,00
              td.table__cell R$ 100,00
              td.table__cell
               p.arrow-down aprovado
            
            tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
              td(colspan="8")
                table.table
                  tbody
                    tr
                      td(colspan="2").table__cell
                        h3.text-muted Descrição do reembolso
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                    tr  
                      td.table__cell.text-muted Recibos Anexos
                      td.table__cell
                        i.list__icon.icon.icon__clip.icon--mr
                          svg
                           use(xlink:href="#icon-clip")
                           
                        span recibo_estacionamento.pdf
              
            tr.table__row.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
              td.table__cell
                button.bt__round.bt__round--green(ng-click="expandRow()")
                  i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
                  
              td.table__cell Guilherme Andrade
              td.table__cell 12/02/12
              td.table__cell 31/02/12
              td.table__cell Estacionamento
              td.table__cell R$ 200,00
              td.table__cell R$ 100,00
              td.table__cell
               p.arrow-down aprovado
              
            tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
              td(colspan="8")
                table.table
                  tbody
                    tr
                      td(colspan="2").table__cell
                        h3.text-muted Descrição do reembolso
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                    tr  
                      td.table__cell.text-muted Recibos Anexos
                      td.table__cell
                        i.list__icon.icon.icon__clip.icon--mr
                          svg
                           use(xlink:href="#icon-clip")
                           
                        span recibo_estacionamento.pdf    
  div.footer
    include ../partials/footer
