.wrapper-large
    form(ng-controller='SearchController',name='SearchForm')
        .page-nav
            div.filter.col-md-5
                include ../partials/breadcrubs

            div.filter.col-md-7
                div.col-xs-1
                    include ../partials/clear-search

                div.col-xs-3
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.display_name for item in users',ng-model='search.user_id')
                            option(ng-selected="true",value="") Funcionário

                div.col-xs-3
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.name for item in categories',ng-model='search.type_expenditure_id')
                            option(ng-selected="true",value="") Tipo

                div.col-xs-3
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.slug as item.name for item in statuses',ng-model='search.status')
                            option(ng-selected="true",value="") Status

                div.col-xs-2
                    button.bt.bt--green
                        i.icon.icon__default.icon--white
                            svg
                                use(xlink:href="#icon-export")
                        span exportar
