include filters
div.equip
    div.wrapper-large
        div.col-md-4.no-padding
            include register
        div.col-md-8
            div.loader(ng-hide='resourceItem.$resolved')
                include ../partials/loader

            table.table.table--refund(ng-show='resourceItem.$resolved && list.length')
                thead.table__head
                    tr.table__row.table__divider.table__row--centered
                        td.table__cell
                        td.table__cell Nome
                        td.table__cell Criação
                        td.table__cell Data
                        td.table__cell Tipo
                        td.table__cell Valor
                        td.table__cell Valor Aprovado
                        td.table__cell Status

                tbody.table__body

                    tr.table__row.table__row--ok.table__row--border.table__row--centered(dir-paginate-start="item in list | itemsPerPage: pagination.limit",total-items="pagination.total" current-page="pagination.current_page",ng-class="{ 'table__divider': expanded }")
                        td.table__cell(ng-init='setCategory(item);setStatus(item);expanded = true;')
                            button.bt__round.bt__round--green(ng-click="expanded = !expanded;")
                                i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")

                        td.table__cell {{ item.user.data.display_name }}
                        td.table__cell {{ item.created_at.date | amDateFormat: 'DD/MM/YYYY'}}
                        td.table__cell {{ item.date | amDateFormat: 'DD/MM/YYYY' }}
                        td.table__cell {{ item.category ? item.category.name : '' }}
                        td.table__cell {{ item.value | currency }}
                        td.table__cell {{ item.amount_approved | currency }}
                        td.table__cell(ng-init='item.$resolved = true;')
                            //p.arrow-down {{ item.status ? item.status_name.name : '' }} //@team
                            div.input-border.input-group__small(ng-hide='!item.$resolved')
                                select.inside-input(ng-selected='item.status',ng-options='item.slug as item.name for item in statuses',ng-change='saveStatus(item)',ng-model='item.status',ng-disabled='item.status == "paid" || item.status == "refused"')
                            div.loader.little(ng-hide='item.$resolved')
                                include ../partials/loader

                    tr.table__divider(ng-class="{ 'table__row--expand': expanded }",dir-paginate-end)
                        td(colspan="8")
                            table.table
                                tbody
                                    tr
                                        td.table__cell
                                            h3.text-muted Descrição
                                            p {{ item.description }}
                                        td.table__cell
                                            h3.text-muted Justificativa
                                            p {{ item.justification }}


            div(ng-show='resourceItem.$resolved && !list.length')
                include ../partials/no-results

            include ../partials/pagination
