form(ng-submit='saveOrUpdate()',ng-controller='RefundsRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.sidebar__title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | Usuário
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item as item.display_name for item in users',ng-model='refund.user',ng-if='UserService.isAdmin()',required='required' )
                        select.inside-input(ng-options='item as item.display_name for item in [UserService.user()]',ng-model='refund.user',ng-if='!UserService.isAdmin()',ng-init='refund.user_id = UserService.userId();',required='required')

                div.col-xs-12
                    label.label-small
                        | Tipo
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.name for item in categories',ng-model='refund.type_expenditure_id')

                div.col-xs-6
                    label.label-small
                        | data
                    input.input-border(type='text', required='',ng-model='refund.date',ui-date-mask,convert-date='YYYY-MM-DD')

                div.col-xs-6
                    label.label-small
                        | valor
                    input.input-border(type='text', required='',ng-model='refund.value',ui-money-mask)

                div.col-xs-12
                    label.label-small
                        | Descrição
                    textarea.input-border.textarea(required='',ng-model='refund.description')

                div.col-xs-12(ng-if='UserService.isAdmin()')
                    label.label-small
                        | valor aprovado
                    input.input-border(type='text', required='',ng-model='refund.amount_approved',ui-money-mask)

                div.col-xs-12(ng-if='UserService.isAdmin()')
                    label.label-small
                        | Justificativa
                    textarea.input-border.textarea(ng-model='refund.justification')

                span(ng-if='!UserService.isAdmin()',ng-init='refund.status = "requested"')
                div.col-xs-12(ng-if='UserService.isAdmin()')
                    label.label-small
                        | Status
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.slug as item.name for item in statuses',ng-model='refund.status',ng-selected='requested',required='')

        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!refund.$resolved')
                | {{ refund.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='refund.$resolved')
                include ../partials/loader
