div.register.register--additional
  include ../partials/header
    
  div.centered-grid.col-xs-12.col-md-8
    #fs-form-wrap.fs-form-wrap
      div.fs-title
        h1.col-md-6 Dados adicionais do
        .col-md-5
          select.select(ng-model="employes")
            option teste
            option teste
        
      form#registerForm.fs-form.fs-form-full.col-md-11(autocomplete='off')
        ol.fs-fields.clearfix
          
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Quando o Guilherme entrou na empresa?
              input.fs-anim-upper(type="date", required)
          
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Qual é a escolaridade dele?
              select.select.fs-anim-lower.row-input(required)
                option Fundamental
                option Superior
              
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Qual(is) é(são) o(s) dia(s) do seu pagamento?
              div.col-md-4.row-input
                span.fs-anim-lower.col-md-6 1° dia
                div.col-md-6
                  input.input-border.fs-anim-lower(type='number', placeholder='05', max-width="2" required='')
                  
              div.col-md-4.row-input.col-md-offset-1
                span.fs-anim-lower.col-md-6
                  | 2° dia
                div.col-md-6
                  input.input-border.fs-anim-lower(type='number', placeholder='05', max-width="2" required='')
                  
              div.col-md-12.fs-anim-lower
                fieldset.radio
                  input.radio__input(type="radio", id="all-employe", name="all-employe")
                  label.radio__label(for="all-employe") Aplicar para todos os funcionários
                  
          li.row
            .col-md-12
              label.register__label.fs-anim-upper
                | Quais os seus descontos?
              
              div.row.row-input
                div.col-md-5
                  select.select.fs-anim-lower(required='')
                    option Vale transporte
                    option Vale refeição
                div.col-md-2
                  select.select.fs-anim-lower(required='')
                    option $
                    option %
                div.col-md-5
                  input.input-border.fs-anim-lower(type='number', placeholder='2.000.00', max-width="2" required='')
              
              div.row.row-input
                div.col-md-5
                  select.select.fs-anim-lower(required='')
                    option Vale transporte
                    option Vale refeição
                div.col-md-2
                  select.select.fs-anim-lower(required='')
                    option $
                    option %
                div.col-md-5
                  input.input-border.fs-anim-lower(type='number', placeholder='2.000.00', max-width="2" required='')
                  
              div.col-md-12.fs-anim-lower
                fieldset.radio
                  input.radio__input(type="radio", id="apply-all-employe", name="apply-all-employe")
                  label.radio__label(for="apply-all-employe") Aplicar para todos os funcionários
                
                  
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper
                | Quais são os dados bancários do guilherme?
              
              div.row-input
                div.col-md-3
                  span.fs-anim-lower Tipo
                div.col-md-6
                  select.select.fs-anim-lower(required='')
                    option $
                    option %
              
              div.row-input
                div.col-md-3
                  span.fs-anim-lower Banco
                div.col-md-6
                  input.input-border.fs-anim-lower(type='tel', placeholder='Bradesco')
              
              div.row-input
                div.col-md-3
                  span.fs-anim-lower agencia
                .col-md-2
                  input.input-border.fs-anim-lower(type='tel', placeholder='0000')
                  
                div.col-md-2.col-md-offset-1
                  span.fs-anim-lower conta
                .col-md-3
                  input.input-border.fs-anim-lower(type='tel', placeholder='0000-0')
                  
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after Ele possui alguma necessidade especial? Qual? (PNES)
              span.fs-anim-lower.col-md-2
                | Qual
              div.col-md-7.fs-anim-lower
                select.select.m-b-20(required='')
                  option $
                  option %
                select.select(required='')
                  option $
                  option %
                  
                fieldset.radio
                  input.radio__input(type="radio", id="no-apply", name="no-apply")
                  label.radio__label(for="no-apply") Aplicar para todos os funcionários
                
              
              button.fs-submit(type='submit') Finalizar
              


  footer.footer
    include ../partials/footer
