div.register.register--branch
  include ../partials/header
    
  div.centered-grid.col-xs-12.col-md-8
    #fs-form-wrap.fs-form-wrap
      div.fs-title
        h1 Cadastro de empresa
        
      form#registerForm.fs-form.fs-form-full.col-md-11(autocomplete='off')
        ol.fs-fields.clearfix
          
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper Qual é o nome da filial da sua {{ companyName }}?
              input.input-border.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="branchlName")
              
          li.row-no-padding
            .col-md-12
              label.fs-anim-upper.register__label O CNPJ da {{ branchlName }} é igual o da matriz?
              input.input-border.fs-anim-lower(type='number', placeholder='12.323.342/0009-23 (matriz)')
            
          li
            .col-md-12.no-padding
              p.register__label.fs-anim-upper.m-b-10 Qual é o endereço?

              div.col-xs-12.col-md-12.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | endereço
                input.input-border.input-group__small.fs-anim-lower(type='text', required='',placeholder='Rua Albion 320, Lapa, São Paulo - SP')

              div.col-xs-12.col-md-8.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | lagradouro
                input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-4.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | número
                input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-8.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | bairro
                input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-4.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | complemento
                input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-6.group-label
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                     | estado
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-6.group-label
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | cidade
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-6.group-label
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | cep
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='')

              div.col-xs-12.col-md-6.group-label
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | pais
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='')
                  
          li.row-no-padding
            .col-md-12
              label.fs-anim-upper.register__label Qual é o email de contato da {{ companyName }}?
              input.input-border.fs-anim-lower.input-icon.input-icon--tel(type='email', placeholder='teste@teste.com')
                  
          li.row-no-padding
            .col-md-12
              label.fs-anim-upper.register__label Qual(is) é(são) o(s) telefone(s) da {{ companyName }}?
              input.input-border.fs-anim-lower.input-icon.input-icon--tel(type='tel', placeholder='(011) 00000-0000')
              input.input-border.fs-anim-lower.input-icon.input-icon--tel(type='tel', placeholder='(011) 00000-0000')
              
              button.fs-submit(type='submit') Finalizar
              


  footer.footer
    include ../partials/footer
