div.register
  include ../partials/header
    
  div.centered-grid.col-xs-12.col-md-9
    #fs-form-wrap.fs-form-wrap
      div.fs-title
        h1 Cadastro de empresa
        
      form#registerForm.fs-form.fs-form-full(autocomplete='off')
        ol.fs-fields.clearfix

          li.row-no-padding
            .col-md-10
              label.register__label.fs-anim-upper.label-required--after Qual é o nome da sua empresa?
              input.input-border.fs-anim-lower(type='text', placeholder='Nome da empresa', required='required', ng-model="company.trading_name")

          li.row-no-padding
            .col-md-10
              label.register__label.fs-anim-upper.label-required--after Qual razão social da {{ company.trading_name }}?
              input.input-border.fs-anim-lower(type='text', placeholder='Razão social', required='required',ng-model="company.company_name")

          li.row-no-padding
            input(type='text', required='required',ng-model="company.national_register_of_legal_entities_valid",ng-hide='true')
            .col-md-7.col-xs-12
              label.register__label.fs-anim-upper.label-required--after Qual o CNPJ da {{ company.trading_name }}?
              input.input-border.fs-anim-lower(type='text', placeholder='12.323.342/0009-23', required='required',ng-model="company.national_register_of_legal_entities",ui-br-cnpj-mask)

          li.row-no-padding(ng-if='optionals.state_registration == false')
            .col-md-12
              label.register__label.fs-anim-upper Qual é a inscrição estadual da {{ company.trading_name }}?
              input.input-border.m-b-20.fs-anim-lower(type='number',placeholder='122.323.342.3232',ng-model='company.state_registration')
              div.fs-anim-lower
                .checkbox
                  input#not-applicable.regular-checkbox.big-checkbox(type='checkbox',ng-model="company.state_registration_exempted")
                  label(for='not-applicable')
                  span.checkbox__text Isento

          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper Qual é o setor da {{ company.trading_name }}?
              div.fs-anim-lower
                //- select(ng-options='item.id as item.name for item in sectors',ng-model='company.sector_id')

                fieldset.radio-icon(ng-repeat='sector in sectors')
                  input.radio-icon__input(type='radio',ng-model='company.sector_id',value='{{sector.id}}',id='{{sector.slug}}')
                  label.radio-icon__label(for='{{sector.slug}}')
                    span.radio-icon__ilustration
                      i.icon.icon--m
                        svg
                          use(xlink:href="#icon-company")
                    span.radio-icon__text {{sector.name}}

          li.row-no-padding(ng-if='optionals.tax_framework_id == false')
            .col-md-12
              label.register__label.fs-anim-upper Qual é o enquadramento fiscal da {{ company.trading_name }}?
              div.fs-anim-lower
                .checkbox(ng-repeat='tax in taxes')
                  input.regular-checkbox.big-checkbox(type='radio',ng-model='company.tax_framework_id',value='{{tax.id}}',id='{{tax.slug}}')
                  label(for='{{tax.slug}}')
                  span.checkbox__text {{tax.name}}

          li
            .col-md-12.no-padding
              p.register__label.fs-anim-upper.m-b-10 Qual é o endereço?

              div.col-xs-12.col-md-12.group-label
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | endereço
                input#no-next.input-border.input-group__small.fs-anim-lower(type='text', required='',g-places-autocomplete,ng-model='address_components',placeholder='Rua Albion 320, Lapa, São Paulo - SP')

              div.col-xs-12.col-md-8.group-label(ng-show='company.address')
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | lagradouro
                input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].street")

              div.col-xs-12.col-md-4.group-label(ng-show='company.address')
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | número
                input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].number")

              div.col-xs-12.col-md-8.group-label(ng-show='company.address')
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | bairro
                input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].neighborhood")

              div.col-xs-12.col-md-4.group-label(ng-show='company.address')
                label.pull-left.fs-anim-lower.label-small.label-required--after
                   | complemento
                input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].complement")

              div.col-xs-12.col-md-6.group-label(ng-show='company.address')
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                     | estado
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].state")

              div.col-xs-12.col-md-6.group-label(ng-show='company.address')
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | cidade
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].city")

              div.col-xs-12.col-md-6.group-label(ng-show='company.address')
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | cep
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].postal_code",ui-br-cep-mask)

              div.col-xs-12.col-md-6.group-label(ng-show='company.address')
                  label.pull-left.fs-anim-lower.label-small.label-required--after
                    | pais
                  input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="company.data_address[0].country")

          li.row-no-padding#data_email
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Qual é o email de contato da {{ company.trading_name }}?
                
              .input-icon(ng-repeat='item in company.data_email')
                i.icon.icon__default.fs-anim-lower
                  svg
                    use(xlink:href="#icon-email")
                input.input-border.input-group__small.fs-anim-lower(type='email', placeholder='seuemail@suaempresa.com', required='',ng-model='item.email')

          li.row-no-padding#data_phone
            .col-md-12
              label.register__label.fs-anim-upper
                | Quais são os telefones da {{ company.trading_name }} ?
              .input-icon(ng-repeat='item in company.data_phone')
                i.icon.icon__default.fs-anim-lower
                  svg
                    use(xlink:href="#icon-tel")
                input.input-border.group__small.fs-anim-lower(type='tel', placeholder='(011) 00000-0000',ng-model='item.phone',ui-br-phone-number)
                  
          li.row-no-padding
            .col-md-12
              label.register__label.fs-anim-upper
                | Qual o logo da {{ company.trading_name }}?
              div.col-md-12
                div.col-md-5.register__fileinput
                  include ../partials/file-input
                      
                  p.fs-anim-lower.small.text-muted.m-t-10 O logo deve ter  no mínimo 100px  de altura por 100px de largura e possuir um fundo  branco de preferência.
                  
                div.col-md-6.col-md-offset-1
                  p.fs-anim-lower.small.text-muted.m-t-10 Ajuste o recorte da imagem:
                  div.fs-anim-lower.col-md-12
                    .cropArea
                      img-crop(image='myImage', result-image='myCroppedImage')

                  div.small.fs-anim-lower
                    i.glyphicon.glyphicon-picture.m-r-10
                    span {{user_profile.document.model.name}}
                    button.glyphicon.glyphicon-remove.icon-cancel.m-l-10

  footer.footer
    include ../partials/footer
