div.employe
  include ../partials/header
  
  div.employe__container
    div.employe__panel.row-no-padding
      
      div.col-xs-6
        h1.employe__title Cadastro de funcionário
          span.lbl
            span.lbl__count 05/
            | 05
      
      div.col-xs-6
        .pull-right.employe__number
          span.employe__upgrade + Mais de 5 funcionários?
          button.bt.bt--l.bt--blue Upgrade
            
    div.panel-body.no-padding
    
      div.row-employe-status
        div.col-xs-3.employe__status.employe__status--complete
          i.icon.icon__user
            svg
              use(xlink:href="#icon-user")
          button.bt.uppercase.bt--green Dados adicionais
          p.employe__status-label Completos
          
        
        div.col-xs-9
          form(ng-submit='save()')
          
            div.row-employe
              div.row-employe__group.group-label
                label.label-small
                  | Nome
                input.input-border.input-border--green.input-group__small(type='text', required='',ng-model='')
                
              div.row-employe__group.group-label
                label.label-small
                  | Email
                input.input-border.input-border--green.input-group__small(type='text', required='')
                
              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Filial
                div.input-border.input-border--green.input-group__small
                  select.inside-input
                    option criação
                    option desenvolvimento
                
              div.row-employe__group.group-label
                dinamic-select(label="departamento", class="input-border input-group__small input-border--green")
                
              div.row-employe__group.group-label
                dinamic-select(label="cargo", class="input-border input-group__small input-border--green")
                
              div.row-employe__group.group-label
                dinamic-select(label="tipo de acesso", class="input-border input-group__small input-border--green")
                
      div.row-employe-status
        div.col-xs-3.employe__status
          i.icon.icon__user.text-center
            svg
              use(xlink:href="#icon-user")
          button.bt.uppercase.bt--red Dados adicionais
          p.employe__status-label Completos
          
        
        div.col-xs-9
          form
          
            div.row-employe
              div.row-employe__group.group-label
                label.label-small
                  | Nome
                input.input-border.input-border--green.input-group__small(type='text', required='')
                
              div.row-employe__group.group-label
                label.label-small
                  | Email
                input.input-border.input-border--green.input-group__small(type='text', required='')
                
              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Filial
                div.input-border.input-border--green.input-group__small
                  select.inside-input
                    option criação
                    option desenvolvimento
                
              div.row-employe__group.group-label
                dinamic-select(label="departamento", class="input-border input-group__small input-border--green")
                
              div.row-employe__group.group-label
                dinamic-select(label="cargo", class="input-border input-group__small input-border--green")
                
              div.row-employe__group.group-label
                dinamic-select(label="tipo de acesso", class="input-border input-group__small input-border--green")
                
    div.employe__panel              
      button.bt.bt--l.pull-right.bt--green Concluído
      
  div.back-to-top &#x2191;
  footer.footer
    include ../partials/footer
