div.register.register--personal
  include ../partials/header
    
  div.centered-grid.col-xs-12.col-md-9
    #fs-form-wrap.fs-form-wrap
      div.fs-title
        h1 Dados do usuário
        
      form#registerForm.fs-form.fs-form-full.col-md-11(autocomplete='off',ng-submit='saveOrUpdate()',ng-hide='sending')
        ol.fs-fields.clearfix

          li.row-no-padding#name
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual é o seu nome completo ?
              input.input-border.fs-anim-lower(type='text', placeholder='seu nome', ng-model="user_profile.name")

          li.row-no-padding#gender
            .col-md-12
              label.register__label.fs-anim-upper(data-title='Qual seu sexo...' )
                | Qual é o sexo do {{ user_profile.firstName }} ?

              div.fs-anim-lower
                .col-md-12
                  fieldset.radio
                    input#male.radio__input(type='radio',ng-model="user_profile.gender",value='male')
                    label.radio__label(for="male") Masculino

                .col-md-12
                  fieldset.radio
                    input#female.radio__input(type='radio',ng-model="user_profile.gender",value='female')
                    label.radio__label(for='female') Feminino

          li.row-no-padding#date_of_birth
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Quando você nasceu {{ user_profile.firstName }} ?

              .col-md-4.no-padding
                input.input-border.fs-anim-lower(type='text', required='',ng-model="user_profile.date_of_birth",ui-date-mask,convert-date='YYYY-MM-DD')

          li.row-no-padding#identity_document(ng-if='!optionals.identity_document')
            .col-md-11
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual o número do seu RG {{ user_profile.firstName }}?
              input.input-border.fs-anim-lower.m-b-20(type='text', placeholder='223242340', required='',ng-model="user_profile.identity_document")

              label.register__label.fs-anim-upper.label-required--after
                | Em qual estado foi emitido seu RG?
              input.input-border.fs-anim-lower.m-b-20(type='text', placeholder='São Paulo - SP', required='',ng-model="user_profile.identity_document_state")

              label.register__label.fs-anim-upper.label-required--after
                | Qual é o orgão expeditor do seu RG?
              input.input-border.fs-anim-lower.m-b-20(type='text', placeholder='SSP', required='',ng-model="user_profile.identity_document_dispatcher_organ")

              label.register__label.fs-anim-upper.label-required--after
                | Qual é a data de expedição do seu RG?
              input.input-border.fs-anim-lower(type='text', required='',ng-model="user_profile.identity_document_dispatcher_date",ui-date-mask,convert-date='YYYY-MM-DD')

          li.row-no-padding#register_individual
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual é o numero do seu CPF {{ user_profile.firstName }}?
                
              .col-md-7
                input.input-border.fs-anim-lower(type='text', placeholder='233.432.123-00', required='',ng-model="user_profile.register_individual",ui-br-cpf-mask)

          li.row-no-padding#voter_id_card(ng-if='!optionals.voter_id_card')
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual é o número do seu título de eleitor?
              input.input-border.fs-anim-lower(type='text', placeholder='32334565490', required='',ng-model="user_profile.voter_id_card")

          li.row-no-padding#driving_licence(ng-if='!optionals.driving_licence')
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | Qual o número da sua CNH {{ user_profile.firstName }}?
              input.input-border.fs-anim-lower.m-b-20(type='text', placeholder='233.432.123-00',ng-model="user_profile.driving_licence")

              label.register__label.fs-anim-upper.label-required--after
                | Qual a categoria da sua CNH?
              input.input-border.fs-anim-lower.m-b-20(type='text', placeholder='233.432.123-00',ng-model="user_profile.driving_licence_category")

            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Qual é a data da expedição?
              input.input-border.fs-anim-lower.m-b-20(type='text',ng-model="user_profile.driving_licence_dispatcher_date",ui-date-mask,convert-date='YYYY-MM-DD')

            .col-md-12
              label.register__label.fs-anim-upper.label-required--after
                | Qual é a validade?
              input.input-border.fs-anim-lower.m-b-20(type='text',ng-model="user_profile.driving_licence_validate_date",ui-date-mask,convert-date='YYYY-MM-DD')

            .col-md-12
              .checkbox.fs-anim-upper
                input#no-have.regular-checkbox.big-checkbox(type='checkbox',ng-model='user_profile.driving_licence_nope')
                label(for='no-have').checkbox__label
                span.checkbox__text Não possuo CNH

          li.row-no-padding#work_record_booklet(ng-if='!optionals.work_record_booklet')
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual é o número da sua carteira de trabalho?
              input.input-border.fs-anim-lower.m-b-20(type='number', placeholder='233.432.123-00',ng-model="user_profile.work_record_booklet")

              label.register__label.fs-anim-upper.label-required--after
                | Qual é a série da sua carteira de trabalho?
              input.input-border.fs-anim-lower.m-b-20(type='number', placeholder='C',ng-model="user_profile.work_record_booklet_series")

              label.register__label.fs-anim-upper.label-required--after
                | Qual estado foi emitido a sua carteira de trabalho?
              input.input-border.fs-anim-lower.m-b-20(type='number', placeholder='São Paulo - SP', ng-model="user_profile.work_record_booklet_dispatcher_state")

            .col-md-12
              .checkbox.fs-anim-upper
                input#no-have-cart.regular-checkbox.big-checkbox(type='checkbox',ng-model='user_profile.work_record_booklet_nope')
                label(for='no-have-cart')
                span.checkbox__text Não possuo carteira de trabalho

          li.row-no-padding#social_integration_program(ng-if='!optionals.social_integration_program')
            .col-md-12
              label.register__label.fs-anim-upper.label-required--after(data-title)
                | Qual é o número do seu PIS {{ user_profile.firstName }}?
              input.input-border.m-b-20.fs-anim-lower(type='number', placeholder='122.323.342.3232',ng-model='user_profile.social_integration_program')

            .col-md-12
              .checkbox.fs-anim-upper
                input#no-have-pis.regular-checkbox.big-checkbox(type='checkbox',ng-model='user_profile.social_integration_program_nope')
                label(for='no-have-pis')
                span.checkbox__text Não possuo número do PIS

          li.row#professional_identity(ng-if='!optionals.professional_identity')
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | Você possui alguma indentidade profissional (OAB, CRM, CRE, etc)?

              div.row.row-input
                div.col-md-5
                  select.select.fs-anim-lower()
                    option OAB
                    option CRM
                    option CRE
                    option Outro
                div.col-md-2
                  select.select.fs-anim-lower()
                    option SP
                    option RS
                div.col-md-5
                  input.input-border.fs-anim-lower(type='number', placeholder='2.000.00', max-width="2" ,ng-model="user_profile.professional_identity")


              .fs-anim-lower
                .checkbox
                  input#not-have.regular-checkbox.big-checkbox(type='checkbox',ng-model='user_profile.professional_identity_nope')
                  label(for='not-have')
                  span.checkbox__text Não possuo

          li.col-md-12.no-padding#address
            p.register__label.fs-anim-upper.col-md-12(data-title)
              | Qual é o seu endereço residencial {{ user_profile.firstName }}?
            div.col-xs-12.col-md-12.group-label
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | endereço
              input#no-next.input-border.input-group__small.fs-anim-lower(type='text', required='',g-places-autocomplete,ng-model='address_components',placeholder='Rua Albion 320, Lapa, São Paulo - SP')

            div.col-xs-12.col-md-8.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | lagradouro
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].street")

            div.col-xs-12.col-md-4.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | número
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].number")

            div.col-xs-12.col-md-8.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | bairro
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].neighborhood")

            div.col-xs-12.col-md-4.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | complemento
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].complement")

            div.col-xs-12.col-md-6.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | estado
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].state")

            div.col-xs-12.col-md-6.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | cidade
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].city")

            div.col-xs-12.col-md-6.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | cep
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].postal_code",ui-br-cep-mask)

            div.col-xs-12.col-md-6.group-label(ng-show='user_profile.address')
              label.pull-left.fs-anim-lower.label-small.label-required--after
                | pais
              input.input-border.input-group__small.fs-anim-lower(type='text', required='',ng-model="user_profile.data_address[0].country")


          li.row-no-padding#data_email
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | Quais são seus emails de contato {{ user_profile.firstName }}? Por favor indique qual o seu e-mail principal.
              div.row(ng-repeat='item in user_profile.data_email')
                .col-md-1.fs-anim-lower
                  fieldset.radio
                    input#email.radio__input(type='radio',ng-model="item.main",name='data_email')
                    label.radio__label(for='email')

                .col-md-5
                  .input-icon.fs-anim-lower
                    i.icon.icon__default
                      svg
                        use(xlink:href="#icon-email")
                    input.input-border.input-group__small.fs-anim-lower(type='email', placeholder='seuemail@suempresa.com',ng-model='item.email')

          li.row-no-padding#data_phone
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | Quais são os telefones de contato {{ user_profile.firstName }}? Indique o principal...
              div.row(ng-repeat='item in user_profile.data_phone')
                
                .col-md-1.fs-anim-lower
                  fieldset.radio
                    input#tel.radio__input(type='radio',ng-model="item.main",name='phone')
                    label.radio__label(for='tel')

                .col-md-5
                  .input-icon.fs-anim-lower
                    i.icon.icon__default
                      svg
                        use(xlink:href="#icon-tel")
                    input.input-border.group__small.fs-anim-lower(type='tel', placeholder='(011) 00000-0000',ng-model='item.phone',ui-br-phone-number)

          li#data_phone_emergency
            .col-md-12.no-padding
              label.register__label.fs-anim-upper(data-title)
                | Em caso de emergência ou para recados, falar com...
              div.row.row-input(ng-repeat='item in user_profile.data_phone_emergency')
                .col-md-4
                  select.select.fs-anim-lower(ng-model='item.relation')
                    option(value='') Selecione
                    option(value='Mãe') Mãe
                    option(value='Pai') Pai
                    option(value='Irmão(a)') Irmão(a)
                    option(value='Companheiro(a)') Companheiro(a)
                    option(value='Outro') Outro
                .col-md-4
                  input.input-border.fs-anim-lower.input-icon(type='text',ng-model='item.name', placeholder="Nome")
                .col-md-4
                  input.input-border.fs-anim-lower.input-icon.input-icon--tel(type='tel', placeholder='(011) 00000-0000',ng-model='item.phone',ui-br-phone-number)

          li.row-no-padding#aboute_me
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | {{ user_profile.firstName }} fale mais sobre você? (Cursos que fez, experiências profissionais que viveu, etc)
              textarea.input-border.fs-anim-lower(type='text', placeholder='fale mais sobre você', ng-model="user_profile.aboute_me")
                  
          li.row-no-padding#file
            .col-md-12
              label.register__label.fs-anim-upper(data-title)
                | Mostre pra gente como você é ?
              div.col-md-12
                div.col-md-5.register__fileinput.fs-anim-upper
                  button.bt.bt--green(ngf-select="user_profile.document.setFile($file, $invalidFiles)",accept="image/*",ng-model="user_profile.document.fileModel")
                    i.icon.icon__update.icon--mr
                      svg
                        use(xlink:href="#icon-upload")
                    | enviar imagem
                  p.fs-anim-lower.small.text-muted.m-t-10 A imagem deve ter  no mínimo 100px  de altura por 100px de largura e possuir um fundo  branco de preferência.

                div.col-md-6.col-md-offset-1(ng-if='user_profile.document.model')
                  p.fs-anim-lower.small.text-muted.m-t-10 Ajuste o recorte da imagem:
                  div.fs-anim-lower.col-md-12
                    .cropArea
                      img-crop(image='user_profile.document.fileModel | ngfDataUrl', result-image='user_profile.document.cropped',area-type='square')
                      
                  div.small.fs-anim-lower
                    i.glyphicon.glyphicon-picture.m-r-10
                    span {{user_profile.document.model.name}}
                    button.glyphicon.glyphicon-remove.icon-cancel.m-l-10

  footer.footer
    include ../partials/footer
