.wrapper-large
    form(ng-controller='SearchController',name='SearchForm')
        .page-nav
            div.filter.col-md-3
                include ../partials/breadcrubs

            div.filter.col-md-9
                div.col-xs-1
                    include ../partials/clear-search

                input(type='hidden',ng-model='search.folder')
                div.col-xs-7
                  div.bt--inline(ng-repeat='folder in folders',ng-click='search.folder = folder.slug')
                      a.bt(ng-class='search.folder == folder.slug ? "bt--blue" : "bt--gray"')
                          i.icon.icon__update.icon--mr
                              svg
                                  use(xlink:href="#icon-export")
                          | {{folder.name}}

                div.col-xs-4
                    .input-icon
                        i.icon.icon__default.icon--search
                            svg
                                use(xlink:href="#icon-search")
                        input.input-border.input-group__small(type='text', required='', placeholder="Pesquise por nome", ng-model='search.name')
