include filters
div.equip
    div.wrapper-large
        div.col-md-4.no-padding
            include register
        div.col-md-8
            div.loader(ng-hide='resourceItem.$resolved')
                include ../partials/loader

            div.col-md-3(ng-repeat='file in list',ng-controller='FileController',ng-hide='!resourceItem.$resolved')
                div.file-card(ng-click='openOrPreview(file)')
                    div.file-card__container
                        button.file-card__delete(ng-click='remove(file)')
                            i.icon.icon__default
                                svg
                                    use(xlink:href="#icon-cancel")

                        div.file-card__ilustration(ng-if="getFileType(file) != 'image'")
                            i.icon
                                svg.svg
                                    use(xlink:href="{{getIconType(file)}}")

                        div.file-card__ilustration(ng-if="getFileType(file) == 'image'")
                            img(ng-src="{{file.file.medium}}", alt="{{file.name}}")

                    p.file-card__info
                        i.icon.icon__default.icon--mr
                            svg
                                use(xlink:href="{{getIconType(file)}}")
                        span.file-card__name {{ file.name }}

            div(ng-show='resourceItem.$resolved && !list.length')
                include ../partials/no-results

            include ../partials/pagination
