form(ng-submit='saveOrUpdate()',ng-controller='DocumentsRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.sidebar__title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | Nome do documento
                    input.input-border(type='text', required='',ng-model='document.data.name')

                div.col-xs-12
                    label.label-small
                        | Pasta
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.slug as item.name for item in folders',ng-model='document.data.folder')

                div.col-xs-12
                    label.pull-left.label-small
                        | Funcionário

                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.display_name for item in users',ng-model='document.data.user_id')
                            option(ng-selected="true",value="") Funcionário

                div.col-xs-12
                    button.bt.bt--green.bt--block(ngf-select="document.setFile($file, $invalidFiles)")
                        i.icon.icon__update.icon--mr
                            svg
                                use(xlink:href="#icon-upload")
                        | carregar documento

                    ul.list.list--border.list--border-full
                        li.list__item(ng-repeat='file in document.files')
                            i.list__icon.icon.icon__clip.icon--mr
                                svg
                                    use(xlink:href="{{file.iconType}}")

                            span.list__name {{file.name}}
                            span.list__cancel.pull-right
                                i.icon.icon__cancel(ng-click='document.remove()')
                                    svg
                                        use(xlink:href="#icon-cancel")

                div.col-xs-12
                    fieldset.radio
                        input.radio__input(type='radio',id="public",ng-model="document.data.access",value='public')
                        label.radio__label(for="public") Público

                div.col-xs-12
                    fieldset.radio
                        input.radio__input(type='radio',id="private",ng-model="document.data.access",value='private')
                        label.radio__label(for="private") Privado


        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!document.$resolved')
                | {{ document.data.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='document.$resolved')
                include ../partials/loader
