label.pull-left.label-small
  | {{ label }}
  
a.label-small.label-small--right(ng-click="toggle()", ng-show="new")
  | criar um novo
  
a.label-small.label-small--right(ng-click="setNew()", ng-show="!new")
  | inserir
  
input.inside-input(type='text', ng-model="newOption", required='', ng-show="!new")
div(ng-show="new", ng-model="options")
  select.inside-input
    option(ng-repeat="item in itens") 
      | {{ item }}
