section.collapse(ng-controller="ToggleController")
  block content
    header.collapse__header
      h1.collapse__title
        block title
      div.collapse__btn(ng-click="showItens()")
        button.bt__round.bt__round--green
         i.icon__plus.icon--white

    .collapse__content(ng-class="{ 'collapse__content--active': componentActive }")
      block aa