div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
    select.visuallyhidden(ng-model='model')
        option {{label}}
        option(ng-repeat="option in options",value='option') {{ option.name }}
    div.custom-select__input
        | {{ current ? current.name : label }}

        ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
            li.custom-select__item(ng-click='reset()') {{ label }}
            li.custom-select__item(ng-repeat="option in options",ng-click='change(option)') {{ option.name }}