div
  h3 Faltas
  br
  
  div
    table.table.table
      thead.table__head
        tr.table__row.table__divider.table__row--centered
          td.table__cell nome
          td.table__cell criação
          td.table__cell periodo
          td.table__cell
            p tipo
            small.small (nome / CID)
          td.table__cell justificado
          td.table__cell comentários
          td.table__cell status
          
      tbody.table__body
        tr.table__row.table__divider.table__row--centered.table__row--border
          td.table__cell Jefferson Daniel Santos SIlva
          td.table__cell 12/02/12
          td.table__cell
            p
              span inicio
              span 31/02/12
            p
              span fim
              span 31/02/12
              
          td.table__cell
            p lesão muscular
            p 121312342
            
          td.table__cell.text-uppercase
            p
              i.list__icon.icon.icon__clip.icon--mr
                svg
                 use(xlink:href="#icon-clip")
              span sim
            
            p não
            
          td.table__cell Lorem ipsum.
          td.table__cell
           p.arrow-down aprovado
          
        tr.table__row.table__divider.table__row--centered.table__row--border
          td.table__cell Jefferson Daniel Santos SIlva
          td.table__cell 12/02/12
          td.table__cell.table__cell--period
            p
              span inicio
              span.table__cell-date 31/02/12
            p
              span fim
              span.table__cell-date 31/02/12
              
          td.table__cell
            p lesão muscular
            p 121312342
            
          td.table__cell.text-uppercase
            p
              i.list__icon.icon.icon__clip.icon--mr
                svg
                 use(xlink:href="#icon-clip")
              span sim
            
            p não
            
          td.table__cell Lorem ipsum.
          td.table__cell
           p.arrow-down aprovado
