div
  h3 Beneficios
  br

  div
    table.table.table--benefits
      thead.table__head
        tr.table__row.table__divider.table__row--centered
          td.table__cell
          td.table__cell nome/plano
          td.table__cell tipo
          td.table__cell fornecedor
          td.table__cell editar
          
      tbody.table__body(ng-controller="TableController")
        tr.table__row.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
          td.table__cell.text-center
            button.bt__round.bt__round--green(ng-click="expandRow()")
              i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
              
          td.table__cell Plano cobertura total
          td.table__cell Plano de saúde
          td.table__cell
            i.icon.icon__default.icon--mr
              svg
                use(xlink:href="#icon-profile")
            span Amil saúde

          td.table__cell
            .bt.bt--green editar
          
        
        tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
          td(colspan="8")
            table.table
              tbody
                tr
                  td.table__cell
                    div.col-md-4
                      h3.text-muted.table__dropdown-title Descrição
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!

                    div.col-md-8
                      h3.text-muted.table__dropdown-title Beneficiários

                      ul.photo-galery
                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

                        li.photo-galery__item
                          img.photo-galery__image(src="http://placehold.it/100x100")

