div
  h3 Reembolso
  br

  div
    table.table.table--refund
      thead.table__head
        tr.table__row.table__divider.table__row--centered
          td.table__cell
          td.table__cell nome
          td.table__cell criação
          td.table__cell data
          td.table__cell tipo
          td.table__cell valor
          td.table__cell valor aprovado
          td.table__cell status
          
      tbody.table__body(ng-controller="TableController")
        tr.table__row.table__row--ok.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
          td.table__cell
            button.bt__round.bt__round--green(ng-click="expandRow()")
              i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
              
          td.table__cell Jefferson Daniel Santos Silva
          td.table__cell 12/02/12
          td.table__cell 31/02/12
          td.table__cell Estacionamento
          td.table__cell R$ 200,00
          td.table__cell R$ 100,00
          td.table__cell
           p.arrow-down aprovado
        
        tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
          td(colspan="8")
            table.table
              tbody
                tr
                  td(colspan="2").table__cell
                    h3.text-muted Descrição do reembolso
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                tr  
                  td.table__cell.text-muted Recibos Anexos
                  td.table__cell
                    i.list__icon.icon.icon__clip.icon--mr
                      svg
                       use(xlink:href="#icon-clip")
                       
                    span recibo_estacionamento.pdf
          
        tr.table__row.table__row--warning.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
          td.table__cell
            button.bt__round.bt__round--green(ng-click="expandRow()")
              i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
              
          td.table__cell Guilherme Andrade
          td.table__cell 12/02/12
          td.table__cell 31/02/12
          td.table__cell Estacionamento
          td.table__cell R$ 200,00
          td.table__cell R$ 100,00
          td.table__cell
           p.arrow-down aprovado
        
        tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
          td(colspan="8")
            table.table
              tbody
                tr
                  td(colspan="2").table__cell
                    h3 title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                tr  
                  td.table__cell Recibos Anexos
                  td.table__cell
                    i.list__icon.icon.icon__clip.icon--mr
                      svg
                       use(xlink:href="#icon-clip")
                       
                    span recibo_estacionamento.pdf
          
        tr.table__row.table__row--border.table__row--centered(ng-class="{ 'table__divider': expanded }")
          td.table__cell
            button.bt__round.bt__round--green(ng-click="expandRow()")
              i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")
              
          td.table__cell Guilherme Andrade
          td.table__cell 12/02/12
          td.table__cell 31/02/12
          td.table__cell Estacionamento
          td.table__cell R$ 200,00
          td.table__cell R$ 100,00
          td.table__cell
           p.arrow-down aprovado
          
        tr.table__divider(ng-class="{ 'table__row--expand': expanded }")
          td(colspan="8")
            table.table
              tbody
                tr
                  td(colspan="2").table__cell
                    h3 title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima, iure, repellendus iste facere, odio quasi voluptatem perspiciatis sunt consectetur iusto eligendi numquam amet quos? Ratione odio possimus debitis tenetur!
                tr  
                  td.table__cell Recibos Anexos
                  td.table__cell
                    i.list__icon.icon.icon__clip.icon--mr
                      svg
                       use(xlink:href="#icon-clip")
                       
                    span recibo_estacionamento.pdf