div
  h3 Férias
  br
  
  div
    table.table.table--vacation
      thead.table__head
        tr.table__row.table__row--centered.table__divider
          td.table__cell nome / setor
          td.table__cell criação
          td.table__cell periodo
          td.table__cell
            p saldo
            small.small (dias por direito x usufruidos )
          td.table__cell status
          
      tbody.table__body
        tr.table__row.table__divider.table__row--centered.table__row--border
          td.table__cell Jefferson Daniel Santos SIlva
          td.table__cell 12/02/12
          td.table__cell
            p.text-left
              span.text-muted.col-md-4 inicio
              span.col-md-8 31/02/12
            p.text-left
              span.text-muted.col-md-4 fim
              span.col-md-8 31/02/12
          td.table__cell
            div.progress
              div.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                span.sr-only 45% Complete

            
          td.table__cell
           p.arrow-down aprovado
          
        tr.table__row.table__divider.table__row--centered.table__row--border
          td.table__cell Jefferson Daniel Santos SIlva
          td.table__cell 12/02/12
          td.table__cell
            strong abono: 6 dias
            
          td.table__cell
            div.progress
              div.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 45%')
                span.sr-only 45% Complete
            
          td.table__cell
           p.arrow-down aprovado