html,
body {
  height: 100%;
}

body {
  font-family: $font-book !important;
  font-size: 16px;
  background-color: map-get($colors, background);
}

a {
  color: map-get($colors, green);

  &:hover {
    color: map-get($colors, blue);
  }
}

strong {
  font-weight: $bold;
}

input[type="date"] {
  background-color: transparent;
}

input[type="file"] {
  width: 100%;
}

input:focus, button:focus {
  outline: none !important;
}

textarea {
  resize: none;
}

button,
a,
div {
  outline: none; 
}

button {
  background-color: transparent;
}
