@for $x from 1 through 40 {
  .m-t-#{$x}{ margin-top: #{$x}px; }
}

@for $x from 1 through 40 {
  .m-b-#{$x}{ margin-bottom: #{$x}px; }
}

@for $x from 1 through 40 {
  .m-l-#{$x}{ margin-left: #{$x}px; }
}

@for $x from 1 through 40 {
  .m-r-#{$x}{ margin-right: #{$x}px; }
}

.icon-large {
  font-size: $icon-large;
}

.icon-medium {
  font-size: $icon-medium;
}

.unlink {
  color: currentColor;

  &:hover {
    text-decoration: none;
    color: currentColor;
  }
}

.centered-grid {
  float: none;
  margin: 0 auto;
}

.small {
  font-size: 11px;
  font-weight: $normal;
}

.ib {
  display: inline-block;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


.page-content {
  @include j-cf();
  margin: 100px 0;
}

.primary-title {
  font-family: $font-medium;
  font-size: 32px;
  color: #4D4D4D;
}

.secundary-title {
  font-family: $font-medium;
  font-size: 16px;
  color: map-get($colors, green);
}

.uppercase {
  text-transform: uppercase;
}

.visuallyhidden {
  display: none;
}

.text {
  &-center {
    text-align: center;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-muted {
    color: map-get($colors, muted);
  }

  &-right {
    text-align: right;
  }

  &-left {
    text-align: right;
  }

  &-strong {
    font-weight: $bold;
  }
}

.visible {
  display: block;
}

.wrapper-large {
  @include j-cf();
  @include wrapper(90%);
  max-width: 1400px;
}

.wrapper-meddium {
  @include j-cf();
  @include wrapper(75%);
}

.wrapper-small {
  @include j-cf();
  @include wrapper(60%);
}


.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-padding {
  padding: 0;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.arrow-down {
  &:after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: currentColor transparent transparent transparent;
  }
}
