/*-----------------------*\
          MIXINS
\*-----------------------*/

@mixin transition ( $time ) {
  transition: all $time+s ease-in-out;
}

@mixin select-theme( $color ) {
  .custom-select__input {
    border-color: map-get($colors, $color);

    &:after {
      border-color: map-get($colors, $color) transparent transparent transparent;
    }
  }
}

@mixin size( $width, $height ) {
  width: $width;
  height: $height;
}

@mixin font( $family, $size, $weight, $color: $title ) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin wrapper( $width, $position:initial ) {
  width: $width;
  margin: 0 auto;
  position: $position;
}

@mixin vertical-align ( $position: absolute, $transform: translateY(-50%) ) {
  position: $position;
  top: 50%;
  transform: $transform;
}

@mixin label-required ( $dir, $margin ) {
  &:#{$dir} {
    content: '*';
    color: #FF0000;
    display: inline-block;
    margin-#{$margin}: 5px;
    font-size: 18px;
    position: absolute;
    top: -5px;
  }
}

@mixin border ( $dir, $size, $color ) {
  border-#{$dir}: $size solid $color;
}

.border-right {
  @include border(right, 2px, #000);
}

/*-----------------------*\
       PLACEHOLDERS
\*-----------------------*/

%text-overflow {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%box-shadow {
  box-shadow: 0 3px 5px #cccccc;
  border: 1px solid #f5f5f5;
}
