// COLORS

$colors: (
  green: #3AB5AA,
  blue:  #319499,
  gray:  #3E3d42,
  bege:  #D2CAC1,
  red:   #E73553,
  muted: #C1C5CB,
  background: #f6f6f6
);

// FONTS

$font-medium: 'Gotham Medium', sans-serif;
$font-book:   'Gotham Book', sans-serif;
$font-black:  'Gotham Black', sans-serif;
$font-openSans:  'Open Sans', sans-serif;

$extra-light: 200;
$light:       300;
$normal:      400;
$medium:      500;
$semi-bold:   600;
$bold:        700;
$extra-bold:  800;

$section-title: 44px;

// MEDIA QUERIES

$ipad:              768px;
$ipad--landscape:   1024px;
$iphone:            375px;
$iphone--landscape: 655px;
$notebook:          1366px;
$wide:              1600px;

// ICON SIZES

$icon-large: 70px;
$icon-medium: 20px;

// ORDER INDEX

$level-negative: -1;
$level-1: 1;
$level-2: 10;
$level-3: 20;
$level-4: 30;
$level-5: 40;
$level-6: 50;
$level-7: 60;
$level-8: 70;
$level-9: 80;
$level-10: 90;
