div.col-md-3
	.card-equip
		div.card-equip__photo
			figure.card-equip__figure
				img.card-equip__img(src="http://placehold.it/300x300", alt="{{ item.display_name}}")
				i.icon
					svg
						use(xlink:href="#icon-edit")

		.card-equip__info
			p.card-equip__name {{ item.display_name }}
			p.card-equip__birtday
				spam.text-muted Aniversário:
				spam {{ item.profile.data.date_of_birth | amDateFormat: 'DD/MM' }}
		ul.info-list
			li.info-list__item.info-list__item--green
				div.col-xs-4.card-equip__label
					| email
				div.col-md-8.ellipsis
					span.card-equip__email {{ item.email}}

			li.info-list__item(ng-repeat='ph in item.profile.data.data_phone',ng-if='item.profile.data.data_phone')
				div.col-xs-4.card-equip__label
					| telefone
				div.col-md-8.ellipsis
					| {{ ph.phone }}

			li.info-list__item(ng-if='!item.profile.data.data_phone.length')
				div.col-xs-4.card-equip__label
					| telefone
				div.col-md-8.ellipsis

			li.info-list__item
				div.col-xs-4.card-equip__label
					| Depto.
				div.col-md-8.ellipsis

			li.info-list__item
				div.col-xs-4.card-equip__label
					| Cargo
				div.col-md-8.ellipsis
