div.employe
  include ../partials/header

  div.employe__container
    div.employe__panel.row-no-padding

      div.col-xs-6
        h1.employe__title Cadastro de funcionário
          span.lbl
            span.lbl__count {{ countNumbers() }} /
            | {{ limit }}

      div.col-xs-6
        .pull-right.employe__number
          span.employe__upgrade + Mais de {{ limit }} funcionários?
          button.bt.bt--l.bt--blue(ng-hide='true') Upgrade

    div.panel-body.no-padding

      div.row-employe-status(ng-repeat='invitation in list')
        div.col-xs-3.employe__status(ng-class='invitation.id ? "employe__status--complete" : ""')
          i.icon.icon__user
            svg
              use(xlink:href="#icon-user")
          button.bt.uppercase.bt--red Dados adicionais
          p.employe__status-label Completos

        div.col-xs-9
          form
            div.row-employe
              div.row-employe__group.group-label
                label.label-small
                  | Nome
                input.input-border.input-border--green.input-group__small(type='text', required='',ng-model='invitation.name')

              div.row-employe__group.group-label
                label.label-small
                  | Email
                input.input-border.input-border--green.input-group__small(type='text', required='' , ng-model='invitation.email')

              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Empresa

                div.input-border.input-border--green.input-group__small
                  select.inside-input(ng-options='item.id as item.trading_name for item in companies',ng-model='invitation.company_id')


              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Departamento

                a.label-small.label-small--right.pull-right(ng-click='addDepartment(invitation)')
                  | criar um novo

                div.input-border.input-border--green.input-group__small
                  select.inside-input(ng-options='item.id as item.name for item in departments',ng-model='invitation.department_id')

              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Cargo

                a.label-small.label-small--right.pull-right(ng-click='addPositionJob(invitation)')
                  | criar um novo

                div.input-border.input-border--green.input-group__small
                  select.inside-input(ng-options='item.id as item.name for item in positionsJobs',ng-model='invitation.position_job_id')

              div.row-employe__group.group-label
                label.pull-left.label-small
                  | Tipo de acesso

                div.input-border.input-border--green.input-group__small
                  select.inside-input(ng-options='item.id as item.name for item in roles',ng-model='invitation.role_id')


    div.employe__panel
      button.bt.bt--l.pull-right.bt--green(ng-click='saveOrUpdate()',ng-hide='isLoading') Concluído
      div.loader.little(ng-show='isLoading')
        include ../partials/loader

