form(ng-submit='saveOrUpdate()',ng-controller='DepartmentRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.secundary-title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | nome
                    input.input-border(type='text', required='',ng-model='department.name')

        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!department.$resolved')
                | {{ department.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='department.$resolved')
                include ../partials/loader