.wrapper-large
    form(ng-controller='SearchController',name='SearchForm')
        .page-nav
            div.filter.col-md-5
                include ../partials/breadcrubs

            div.filter.col-md-7
                div.col-xs-1
                    include ../partials/clear-search

                div.col-xs-9
                    .input-icon
                        i.icon.icon__default.icon--search
                            svg
                                use(xlink:href="#icon-search")
                        .input-icon--tel
                        input.input-border.input-group__small(type='text', required='', placeholder="Pesquise por nome", ng-model='search.email')


                div.col-xs-2
                    button.bt.bt--green
                        i.icon.icon__default.icon--white
                            svg
                                use(xlink:href="#icon-export")
                        span exportar
