include filters
div.equip
    div.wrapper-large
        div.col-md-12
            div.loader(ng-hide='resourceItem.$resolved')
                include ../partials/loader

            div(dir-paginate="item in list | itemsPerPage: pagination.limit",total-items="pagination.total" current-page="pagination.current_page",ng-show='resourceItem.$resolved')
                include card

            div(ng-show='resourceItem.$resolved && !list.length')
                include ../partials/no-results

            include ../partials/pagination
