div.col-md-4(ng-init='setCategory(item)')
    .card-equip
        div.card-equip__photo
            img(ng-src="assets/svgs/icon-{{item.category.slug}}.svg",width='75')

        .card-equip__info
            p.card-equip__name(ng-click='getToEdit(item)') {{item.name}}
            p.card-equip__birtday
                spam.text-muted Tipo:
                spam {{ item.category ? item.category.name : '' }}
        ul.info-list

            li.info-list__item
                div.col-xs-4.card-equip__label
                    | contato
                div.col-md-8.ellipsis
                    | {{item.contact_name}}

            li.info-list__item
                div.col-xs-4.card-equip__label
                    | telefone
                div.col-md-8.ellipsis(ng-repeat='pho in item.data_phone')
                    | {{pho.phone}}

            li.info-list__item.info-list__item--green
                div.col-xs-4.card-equip__label
                    | email
                div.col-md-8.ellipsis(ng-repeat='mail in item.data_email')
                    span.card-equip__email {{mail.email}}

            li.info-list__item
                div.col-xs-4.card-equip__label
                    | Endereço
                div.col-md-8.ellipsis
                    | {{item.address}}

            li.info-list__item
                div.col-xs-4.card-equip__label
                    | Benefício
                div.col-md-8.ellipsis
                    | {{item.benefit}}