.wrapper-large
    form(ng-controller='SearchController',name='SearchForm')
        .page-nav
            div.filter.col-md-5
                include ../partials/breadcrubs

            div.filter.col-md-7
                div.col-xs-1
                    include ../partials/clear-search
                div.col-xs-4
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.name for item in categories',ng-model='search.provider_category_id')
                            option(ng-selected="true",value="") Tipo

                div.col-xs-5
                    .input-icon
                        i.icon.icon__default.icon--search
                            svg
                                use(xlink:href="#icon-search")
                        .input-icon--tel
                        input.input-border.input-group__small(type='text', required='', placeholder="Pesquise por nome", ng-model='search.name')


                div.col-xs-2
                    button.bt.bt--green
                        i.icon.icon__default.icon--white
                            svg
                                use(xlink:href="#icon-export")
                        span exportar
