include filters
div.equip
    div.wrapper-large
        div.col-md-4.no-padding
            div.sidebar
                include register
        div.col-md-8
            div.loader(ng-hide='resourceProvider.$resolved')
                include ../partials/loader

            div(dir-paginate="item in providers | itemsPerPage: pagination.limit",total-items="pagination.total" current-page="pagination.current_page",ng-show='resourceProvider.$resolved')
                include card

            div(ng-show='resourceProvider.$resolved && !providers.length')
                include ../partials/no-results

            include ../partials/pagination
