form(ng-submit='saveOrUpdate()',ng-controller='ProvidersRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar__wrapper

        div.col-xs-12
            h1.sidebar__title {{ title }}

        div
            div.col-xs-12
                label.label-small
                    | nome
                input.input-border(type='text', required='',ng-model='provider.name')

            div.col-xs-12
                label.label-small
                    | Tipo
                //div(ng-show='types.length',ng-include,src="'/app/view/components/select.html'",ng-onload="model = 'types'; callback = 'providerType';",ng-controller='SelectController')
                div.input-border.input-group__small
                    select.inside-input(ng-options='item.id as item.name for item in categories',ng-model='provider.provider_category_id')

            div.col-xs-12
                label.label-small
                    | Nome do Contato
                input.input-border(type='text', required='',ng-model='provider.contact_name')

            div.col-xs-12
                label.label-small
                    | Telefone
                div(ng-repeat='item in provider.data_phone')
                    input.input-border(type='tel', placeholder='(011) 00000-0000',ng-model='item.phone',ui-br-phone-number)

            div.col-xs-12
                label.label-small
                    | Email
                div(ng-repeat='item in provider.data_email')
                    input.input-border(type='email', placeholder='seuemail@suaempresa.com',ng-model='item.email')

            div.col-xs-12
                label.label-small
                    | Endereço
                input.input-border(type='text', required='',g-places-autocomplete,ng-model='address_components',placeholder='Rua Albion 320, Lapa, São Paulo - SP')

            div.col-xs-12
                label.label-small
                    | Benefício
                textarea.input-border.textarea(required='',ng-model='provider.benefit')

    .sidebar__wrapper.text-center
        button.bt.bt--green.bt--l(ng-hide='!provider.$resolved')
            | {{ provider.id ? 'Salvar' : 'Cadastrar' }}

        div.loader.little(ng-hide='provider.$resolved')
            include ../partials/loader
    div.clearfix.visible-xs-block
