div.guide__block
  h1 Buttons
  hr

  a.bt.bt--blue
    i.icon.icon__update.icon--mr
      svg
       use(xlink:href="#icon-export")
    | .bt .bt--blue

  a.bt.bt--bege
    | .bt .bt--bege

  a.bt.bt--m.bt--red
    | .bt .bt--m. bt--red

    i.icon.icon__update.icon--ml
      svg
       use(xlink:href="#icon-google")
    
  a.bt.bt--l.bt--green
    | .bt .bt--l .bt--green
    
  div
    button.bt__round.bt__round--green
      i.icon__plus.icon--white
      
    button.bt__round.bt__round--green
      i.icon__less.icon--white
      
    button.bt__round
      i.icon__less.icon--gray

    button.bt__round
      i.icon__plus.icon--gray
      
    button.bt__hamburger
      i.icon__less.icon--gray
      i.icon__less.icon--gray
      i.icon__less.icon--gray

    div.bt__round.bt__round--gray.bt__round--l.bt__round--or.bt__round--shadow

    button.bt__round.bt--white.bt__round--l.bt__round--shadow
      i.icon.icon__default.icon--green
        svg
          use(xlink:href="#icon-up")

    button.bt__round.bt__round--green.bt__round--l.bt__round--shadow
      i.icon.icon__default.icon--white
        svg
          use(xlink:href="#icon-up")
