div.guide__block
  h1 Collapse
  hr

  div.col-md-12

    div.col-md-4
      section.box(ng-controller="ToggleController")
        header.box__header
          h2.box__title beneficios
          div.box__btn(ng-click="showItens()")
            button.bt__round.bt__round--green
             i.icon--white(ng-class=" componentActive ? 'icon__less' : 'icon__plus' ")

        div.box__content(ng-class="{ 'box__content--active': componentActive }")
          
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-7.text-muted.text-overflow plano de saude
              p.col-xs-5 teste

            li.list__item
              p.col-xs-7.text-muted.text-overflow vale transporte
              p.col-xs-5 teste

            li.list__item
              p.col-xs-7.text-muted.text-overflow vale alimentação
              p.col-xs-5 teste

    div.col-md-4
      section.box
        header.box__header
          h2.box__title Filiais
          div.box__btn 5

        div.box__content.box__content--active
          
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-3.text-muted.text-overflow Sede
              p.col-xs-9 DBR Interativa

            li.list__item
              p.col-xs-3.text-muted.text-overflow Filiais
              p.col-xs-9 DBR Interativa SP, DBR Interativa SP, DBR Interativa SP, DBR Interativa SP,DBR Interativa SP

    div.col-md-4
      section.box
        header.box__header
          h2.box__title Plano
          div.box__btn Anuidade: R$ 500,00

        div.box__content.box__content--active
          
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-6.text-overflow numero de usuários
              p.text-strong.col-xs-6.text-right 63

            li.list__item
              p.col-xs-6.text-overflow Vigência
              p.text-strong.col-xs-6.text-right 20/03/12 a 21/03/12

            li.list__item
              p.col-xs-6.text-overflow Vencimento
              p.text-strong.col-xs-6.text-right 20/03/12
          
          div.col-md-4
            button.bt.bt--green renovar
          
          div.col-md-4
            button.bt.bt--green upgrade
          
          div.col-md-4
            button.bt.bt--green cancelar
          
    div.col-md-4
      section.box(ng-controller="ToggleController")
        header.box__header
          h2.box__title Dados Adicionais
          div.box__btn(ng-click="showItens()")
            button.bt__round.bt__round--green
             i.icon--white(ng-class=" componentActive ? 'icon__less' : 'icon__plus' ")

        div.box__content(ng-class="{ 'box__content--active': componentActive }")
        
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-7.text-muted.text-overflow Departamento
              p.col-xs-5 Criação

            li.list__item
              p.col-xs-7.text-muted.text-overflow Cargo
              p.col-xs-5 Diretor de Arte

            li.list__item
              p.col-xs-7.text-muted.text-overflow Filial
              div.col-xs-5 DBR

            li.list__item
              p.col-xs-7.text-muted.text-overflow Data de entrada
              div.col-xs-5 12/02/2017

            li.list__item
              p.col-xs-7.text-muted.text-overflow sálario base
              p.col-xs-5 R$ 20.000

            li.list__item
              p.col-xs-7.text-muted.text-overflow Data de pagamento
              p.col-xs-5 12/02/2017

            li.list__item
              p.col-xs-7.text-muted.text-overflow Descontos
              p.col-xs-5 Vale transporte, vale refeição


    div.col-md-4
      section.box(ng-controller="ToggleController")
        header.box__header
          h2.box__title carga horária
          div.box__btn(ng-click="showItens()")
            button.bt__round.bt__round--green
             i.icon--white(ng-class=" componentActive ? 'icon__less' : 'icon__plus' ")

        div.box__content(ng-class="{ 'box__content--active': componentActive }")
          div.workload.workload--green
            div.workload__content
              p.workload__day seg
              p.workload__hour 12-23

          div.workload.workload--blue
            div.workload__content
              p.workload__day ter
              p.workload__hour 12-23

          div.workload.workload--blue
            div.workload__content
              p.workload__day qua
              p.workload__hour 12-23

          div.workload.workload--blue
            div.workload__content
              p.workload__day qui
              p.workload__hour 12-23

          div.workload.workload--blue
            div.workload__content
              p.workload__day sex
              p.workload__hour 12-23

          div.workload.workload--bege
            div.workload__content
              p.workload__day sab
              p.workload__hour -

          div.workload.workload--bege
            div.workload__content
              p.workload__day dom
              p.workload__hour -


    div.col-md-4
      section.box(ng-controller="ToggleController")
        header.box__header
          h2.box__title remuneração
          div.box__btn(ng-click="showItens()")
            button.bt__round.bt__round--green
             i.icon--white(ng-class=" componentActive ? 'icon__less' : 'icon__plus' ")

        div.box__content(ng-class="{ 'box__content--active': componentActive }")
          ul.list.list--border.row-no-padding
            li.list__item
              p.text-strong.col-md-6 Base:
              p.text-strong.col-md-6 R$ 6.200,00

            li.list__item
              span.col-md-6.text-muted Beneficios:
              span.col-md-6 R$ 1.200,00
              
            li.list__item
              span.col-md-6.text-muted Descontos:
              span.col-md-6 R$ -50,00  

            li.list__item
              span.col-md-6.text-muted Bônus:
              span.col-md-6 R$ -50,00
              
            li.list__item
              p.text-strong.col-md-6 Total
              p.text-strong.col-md-6 R$ 150,00
              
          p.text-center
            small.small Cálculos referentes à fevereiro de 2016 
              a(href="#") ver histórico
