div.guide__block
  h1 Colors
  hr
  
  div.guide__block--color(style="background: #3AB5AA;") map-get($colors, green);
  div.guide__block--color(style="background: #319499;") map-get($colors, blue);
  div.guide__block--color(style="background: #3E3D42;") map-get($colors, gray);
  div.guide__block--color(style="background: #D2CAC1;") map-get($colors, bege);
  div.guide__block--color(style="background: #E73553;") map-get($colors, red);
  div.guide__block--color(style="background: #C1C5CB;") map-get($colors, muted);
