div.guide__block
  h1 Card Exportar/Importar
  hr
    
  .col-md-5
    section.data-transport
    
      header.data-transport__header
        i.icon.icon--l
          svg
            use(xlink:href="#icon-company")

        h1.data-transport__title exportar dados


      article
        p.data-transport__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum fuga libero dicta esse dolore possimus quibusdam, tenetur aut eligendi beatae dolores expedita, aliquid laborum temporibus consequuntur qui. Neque, minima.

      button.bt.bt--l.bt--green.uppercase exportar
    
  .col-md-5
    section.data-transport
    
      header.data-transport__header
        i.icon.icon--l
          svg
            use(xlink:href="#icon-reports")

        h1.data-transport__title importar holerite


      article
        p.data-transport__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum fuga libero dicta esse dolore possimus quibusdam, tenetur aut eligendi beatae dolores expedita, aliquid laborum temporibus consequuntur qui. Neque, minima.

      button.bt.bt--l.bt--green.uppercase importar


