div.guide__block
  h1 File
  hr

  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          i.icon
            svg.svg
              use(xlink:href="#icon-pdf")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-pdf")
        span.file-card__name manual_empresa.pdf 

  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          i.icon
            svg.svg
              use(xlink:href="#icon-pdf")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-pdf")
        span.file-card__name manual_empresa.pdf 

  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          i.icon
            svg.svg
              use(xlink:href="#icon-pdf")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-pdf")
        span.file-card__name manual_empresa.pdf 

  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          i.icon
            svg.svg
              use(xlink:href="#icon-pdf")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-pdf")
        span.file-card__name manual_empresa.pdf 
    
  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          i.icon
            svg.svg
              use(xlink:href="#icon-excel")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-excel")
        span.file-card__name manual_empresa.pdf
    
  div.col-md-3
    div.file-card
      div.file-card__container
        button.file-card__delete
          i.icon.icon__default
            svg
              use(xlink:href="#icon-cancel")
        
        div.file-card__ilustration
          img(src="http://placehold.it/400x400", alt="")
      
      p.file-card__info
        i.icon.icon__default
          svg
            use(xlink:href="#icon-excel")
        span.file-card__name manual_empresa.pdf
      
