div.guide__block
  h1 Forms
  hr
      
  div.col-xs-4
    div(ng-controller="ToggleController")
      div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
        select.visuallyhidden
          option(ng-repeat="option in options") {{ option }}
        div.custom-select__input
          | cargo
          
          ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
            li.custom-select__item(ng-repeat="option in options") {{ option }}
        
  div.col-xs-4
    .input-icon
      i.icon.icon__default.icon--search
        svg
         use(xlink:href="#icon-search")
      .input-icon--tel
      input.input-border.input-group__small(type='text', required='', placeholder="Pesquise por nome, email, etc")
      
  div.col-xs-4
    div(ng-controller="ToggleController")
      div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
        select.visuallyhidden
          option(ng-repeat="option in options") {{ option }}
        div.custom-select__input
          | Departamento
          
          ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
            li.custom-select__item(ng-repeat="option in options") {{ option }}
            
  
  form.row-no-padding(action="")
    div.col-xs-12
      label.label-small.label-required--after endereço
      input.input-border.input-group__small(type='text', required='', placeholder=".input-border")
      
    div.col-xs-12
      label.label-small Search
      .input-icon
        i.icon.icon__default.icon--search
          svg
           use(xlink:href="#icon-search")
        .input-icon--tel
        input.input-border.input-group__small(type='text', required='', placeholder=".input-border")

    .col-md-12
      label.label-small email
        
      .input-icon
        i.icon.icon__default
          svg
            use(xlink:href="#icon-email")
        input.input-border.input-group__small.fs-anim-lower(type='email', placeholder='seuemail@suaempresa.com', required='')

    .col-md-12
      label.label-small tel
      .input-icon
        i.icon.icon__default
          svg
            use(xlink:href="#icon-tel")
        input.input-border.group__small.fs-anim-lower(type='tel', placeholder='(011) 00000-0000')
      
    div.col-xs-12
      label.label-small.label-required--after endereço
      input.input-border.input-border--blue.input-group__small(type='text', required='', placeholder=".input-border .input-border--blue")
      
    div.col-xs-12
      label.label-small.label-required--after endereço
      input.input-border.input-border--green.input-group__small(type='text', required='', placeholder=".input-border .input-border--green")
      
    div.col-xs-12
      label.label-small.label-required--after endereço
      input.input-border.input-border--red.input-group__small(type='text', required='', placeholder=".input-border .input-border--red")
    
    div.col-xs-12
      div(ng-controller="ToggleController")
        div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
          select.visuallyhidden
            option(ng-repeat="option in options") {{ option }}
          div.custom-select__input
            | cargo
            
            ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
              li.custom-select__item(ng-repeat="option in options") {{ option }}
              
      fieldset.radio
        input.radio__input(type="radio", id="applyAll", name="applyAll")
        label.radio__label(for="applyAll") Aplicar para todos os funcionários

  form.col-md-12
    fieldset.radio-icon
      input.radio-icon__input(type="radio", id="agronegocio", name="agronegocio")
      label.radio-icon__label(for="agronegocio")
        span.radio-icon__ilustration
          i.icon.icon--m
            svg
              use(xlink:href="#icon-company")
        span.radio-icon__text Agronegócio
