div.guide__block
  h1 Icons
  hr
  
  i.icon.icon__default
    svg
     use(xlink:href="#icon-google")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-upload")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-cancel")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-card")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-clip")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-company")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-up")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-user")

  i.icon.icon__default(style="stroke: black;")
    svg
      use(xlink:href="#icon-search")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-export")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-controllers")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-reports")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-home")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-profile")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-notification")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-logout")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-pdf")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-zip")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-word")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-image")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-ppt")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-email")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-tel")

  i.icon.icon__default
    svg
      use(xlink:href="#icon-edit")
