include ../partials/sprite
include nav

div.guide__container
  include logo
  include icons
  include colors
  include buttons
  include typograpy
  include form
  include menu
  include register-employe
  include team-card
  include reports-card
  include dashboard-card
  include notification-card
  include data-transport
  include view-workload
  include file
  include profile-card
  include profile-alert
  include collapse
  include sidebar
  include table/index
  
