nav.guide__nav
  
  h1 PAGES
  hr
  
  h4.guide__nav-title Autenticação
  a.guide__nav-link(ui-sref="auth.login") Login
  a.guide__nav-link(ui-sref="auth.alternative-login") Login com cpf
  a.guide__nav-link(ui-sref="auth.register") Register
  a.guide__nav-link(ui-sref="auth.forward") Esqueci senha
  
  h4.guide__nav-title Welcome
  a.guide__nav-link(ui-sref="welcome.company") Empresa
  a.guide__nav-link(ui-sref="welcome.guest") Convidado
  
  h4.guide__nav-title Controle
  a.guide__nav-link(ui-sref="app.control.vacations.index") Férias
  a.guide__nav-link(ui-sref="app.control.licenses.index") Licenças
  a.guide__nav-link(ui-sref="app.control.absences.index") Faltas
  a.guide__nav-link(ui-sref="app.control.refunds.index") Reembolso
  
  h4.guide__nav-title Extra
  a.guide__nav-link(ui-sref="app.extra.providers.index") Fornecedores
  a.guide__nav-link(ui-sref="app.extra.benefits.index") Benefícios
  a.guide__nav-link(ui-sref="app.index") Documentos
  a.guide__nav-link(ui-sref="app.index") Carga horária
  a.guide__nav-link(ui-sref="app.index") Empresa
  
  h4.guide__nav-title Cadastro
  a.guide__nav-link(ui-sref="register.company") Cadastro de empresa
  a.guide__nav-link(ui-sref="register.branch") Cadastro de filial
  a.guide__nav-link(ui-sref="register.personal") Cadastro de pessoal
  a.guide__nav-link(ui-sref="register.additional") Cadastro de adicional
  a.guide__nav-link(ui-sref="register.employe") Cadastro de funcionário
    
  h4.guide__nav-title Pagamentos
  a.guide__nav-link(ui-sref="plans") Planos
  a.guide__nav-link(ui-sref="payment") Pagamentos
    
  h4.guide__nav-title Equipe
  a.guide__nav-link(ui-sref="app.team.index") Equipe
    
  h4.guide__nav-title Calendário
  a.guide__nav-link(ui-sref="app.calendar") Calendário
    
  h4.guide__nav-title Faq
  a.guide__nav-link(ui-sref="faq") FAQ
