div.guide__block
  h1 Notificações
  hr
    

  section.notification-card
    figure.notification-card__figure
      img.notification-card__image(src="http://placehold.it/100x100", alt="")
  
    article.notification-card__content
      h1.notification-card__name Jefferson Daniel Santos Silva
      span.notification-card__info Alterou as informações de cadastro pessoais.

      div.notification-card__date
        i.icon.icon__default.icon--mr
          svg
            use(xlink:href="#icon-notification")

        span.notification-card__time há 1 horas

  section.notification-card.notification-card--noimage

    article.notification-card__content
      h1.notification-card__name Jefferson Daniel Santos Silva
      span.notification-card__info Solicitou um novo período de férias.

      div.notification-card__date
        i.icon.icon__default.icon--mr
          svg
            use(xlink:href="#icon-notification")

        span.notification-card__time há 2 horas

  section.notification-card
    figure.notification-card__figure
      img.notification-card__image(src="http://placehold.it/100x100", alt="")
  
    article.notification-card__content
      h1.notification-card__name Jefferson Daniel Santos Silva
      span.notification-card__info Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      div.notification-card__date
        i.icon.icon__default.icon--mr
          svg
            use(xlink:href="#icon-notification")

        span.notification-card__time Ontem

  section.notification-card
    figure.notification-card__figure
      img.notification-card__image(src="http://placehold.it/100x100", alt="")
  
    article.notification-card__content
      h1.notification-card__name Jefferson Daniel Santos Silva
      span.notification-card__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, ipsum dolor sit amet, consectetur adipisicing elit.t, consectetur adipisicing elit.t, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, ipsum dolor sit amet, consectetur adipisicing elit.t, consectetur adipisicing elit.t, consectetur adipisicing elit.

      div.notification-card__date
        i.icon.icon__default.icon--mr
          svg
            use(xlink:href="#icon-notification")

        span.notification-card__time Ontem