div.guide__block
  h1 Profile alert
  hr
  .col-md-4
    section.box.box--alert.box--red
      .box__content.box__content--active
        p.col-xs-5 Próximas férias
        p.col-xs-6 Pendente (venc. 12/09)
          
    section.box.box--alert.box--green
      .box__content.box__content--active
        p.col-xs-5 Reembolso: (fevereiro)
        p.col-xs-6 9 Reembolsos (aprovados)
          
    section.box.box--alert.box--red
      .box__content.box__content--active
        p.col-xs-5 Faltas
        p.col-xs-6 8 faltas
          
    section.box.box--alert.box--green
      .box__content.box__content--active
        p.col-xs-5 Beneficios
        p.col-xs-6 Pendente (venc. 12/09)
