div.guide__block
  h1 Profile card
  hr
  
  div.col-md-4
    section.profile-card
      header.profile-card__header
        div.col-md-6
          figure.profile-card__image
            img(src="http://placehold.it/100x100", alt="")
            
        div.col-md-6
          h1.profile-card__title Jefferson Daniel Santos Silva
          p.profile-card__subtitle Desenvovedor Front-end
          
          div
            span.profile-card__label sexo: 
            span.profile-card__info Masc
          div
            span.profile-card__label idade: 
            span.profile-card__info 32
        
          div.profile-card__edit
            button.bt.bt--green editar
      
    section.tab.tab--profile(ng-controller="TabController")
      header.tab__header
        button.tab__btn.tab__btn--active(ng-click="initTab($event, 'contato')") Contato
        button.tab__btn(ng-click="initTab($event, 'endereco')") Endereco
        button.tab__btn(ng-click="initTab($event, 'documents')") Documentos
      
      article.tab__content
        section.tab__section.tab__section--active.tab__section--contato
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-4.text-muted Email
              p.col-xs-6.ellipsis jeffersondanielss@dbr.ag
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white


            li.list__item
              p.col-xs-4.text-muted Telefone
              p.col-xs-6.ellipsis (11) 9 1111-2222
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-4.text-muted Contatos
              p.col-xs-6.ellipsis Maria (mãe) (11) 9 3333-4444
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-4.text-muted Infos extra
              p.col-xs-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam reiciendis vero voluptatum nemo dolores quidem soluta, repudiandae optio et quaerat obcaecati nihil commodi vel quod adipisci fuga, sequi, quibusdam laudantium.
              
        section.tab__section.tab__section--endereco
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-4.text-muted Endereco
              p.col-xs-8.ellipsis Av. Engenheiro Caetano alves
                

            li.list__item
              p.col-xs-4.text-muted logradouro
              p.col-xs-8.ellipsis Av. Engenheiro Caetano alves

            li.list__item
              p.col-xs-4
                span.col-xs-2.text-muted N
                span.col-xs-10.ellipsis 2345
              p.col-xs-8
                span.col-xs-7.text-muted Complemento
                span.col-xs-5.ellipsis Apto 23

            li.list__item
              p.col-xs-4.text-muted Bairro
              p.col-xs-8.ellipsis Vila Nova Cachoerinha

            li.list__item
              p.col-xs-6
                span.col-xs-5.text-muted Estado
                span.col-xs-7.ellipsis São Paulo
              p.col-xs-6
                span.col-xs-5.text-muted Cidade
                span.col-xs-7.ellipsis São Paulo

            li.list__item
              p.col-xs-6
                span.col-xs-5.text-muted CEP
                span.col-xs-7.ellipsis 090909-090
              p.col-xs-6
                span.col-xs-5.text-muted Pais
                span.col-xs-7.ellipsis Brasil

              
        section.tab__section.tab__section--documents
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-5.text-muted RG
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-5.text-muted CPF
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-5.text-muted Título de Eleitor
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-5.text-muted CNH
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-5.text-muted Carteira de trabalho
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white

            li.list__item
              p.col-xs-5.text-muted PIS
              p.col-xs-7.ellipsis 23.345.234.2

            li.list__item
              p.col-xs-5.text-muted OAB
              p.col-xs-5.ellipsis 23.345.234.2
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white
        
  
  div.col-md-4
    section.profile-card
      header.profile-card__header
        div.col-md-6
          figure.profile-card__image
            img(src="http://placehold.it/100x100", alt="")
            
        div.col-md-6
          h1.profile-card__title DBR Interativa
          p.profile-card__subtitle SEDE
          
          div
            div
              span.profile-card__label Departamento: 
              span.profile-card__info 12
            div
              span.profile-card__label Funcionários: 
              span.profile-card__info 32
        
          div.profile-card__edit  
            button.bt.bt--green editar
      
    section.tab.tab--profile(ng-controller="TabController")
      header.tab__header
        button.tab__btn.tab__btn--active(ng-click="initTab($event, 'informacoes')") Informações
        button.tab__btn(ng-click="initTab($event, 'endereco')") Endereço
        button.tab__btn(ng-click="initTab($event, 'contato')") Contato
      
      article.tab__content
        section.tab__section.tab__section--informacoes.tab__section--active
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-4.text-muted Nome fantasia
              p.col-xs-8.ellipsis DBR Interativa

            li.list__item
              p.col-xs-4.text-muted Razão social
              p.col-xs-8.ellipsis Digital BR

            li.list__item
              p.col-xs-4.text-muted CNPJ
              p.col-xs-8.ellipsis 323232323/0001-2

            li.list__item
              p.col-xs-4.text-muted Setor
              p.col-xs-8.ellipsis Inovação e tecnologia

            li.list__item
              p.col-xs-4.text-muted Inscrição estadual
              p.col-xs-8.ellipsis 323.423.232.4242

            li.list__item
              p.col-xs-5.text-muted Enquadramento fiscal
              p.col-xs-5.uppercase.ellipsis pendente
              p.col-xs-2.text-right
                button.bt__round.bt__round--green
                  i.icon__plus.icon--white
              
        section.tab__section.tab__section--endereco
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-4.text-muted Endereco
              p.col-xs-8.ellipsis Av. Engenheiro Caetano alves
                

            li.list__item
              p.col-xs-4.text-muted logradouro
              p.col-xs-8.ellipsis Av. Engenheiro Caetano alves

            li.list__item
              p.col-xs-4
                span.col-xs-2.text-muted N
                span.col-xs-10.ellipsis 2345
              p.col-xs-8
                span.col-xs-7.text-muted Complemento
                span.col-xs-5.ellipsis Apto 23

            li.list__item
              p.col-xs-4.text-muted Bairro
              p.col-xs-8.ellipsis Vila Nova Cachoerinha

            li.list__item
              p.col-xs-6
                span.col-xs-5.text-muted Estado
                span.col-xs-7.ellipsis São Paulo
              p.col-xs-6
                span.col-xs-5.text-muted Cidade
                span.col-xs-7.ellipsis São Paulo

            li.list__item
              p.col-xs-6
                span.col-xs-5.text-muted CEP
                span.col-xs-7.ellipsis 090909-090
              p.col-xs-6
                span.col-xs-5.text-muted Pais
                span.col-xs-7.ellipsis Brasil
              
        section.tab__section.tab__section--contato
          ul.list.list--border.row-no-padding
            li.list__item
              p.col-xs-5.text-muted Email
              p.col-xs-7.ellipsis contato@dbr.ag

            li.list__item
              p.col-xs-5.text-muted Telefone
              ul.col-xs-7
                li (11) 9 2222-3333
                li (11) 9 2222-3333
                li (11) 9 2222-3333
                li (11) 9 2222-3333
