.container
  #fs-form-wrap.fs-form-wrap
    .fs-title
      h1 Cadastro de empresa
    
    form#registerForm.fs-form.fs-form-full(autocomplete='off')
      ol.fs-fields
        li.row-no-padding
          .col-md-12
            label Qual é o nome fantasia da sua empresa?
            input.input-border.fs-anim-lower(name='q1', type='text', placeholder='Dean Moriarty', required='')
        li.row-no-padding
          .col-md-12
            label Qual é o nome fantasia da sua empresa?
            input.input-border.fs-anim-lower(name='q1', type='text', placeholder='Dean Moriarty', required='')
        
      button.fs-submit(type='submit') Send answers


.row
  li.row-no-padding
    .col-md-12
      p.fs-anim-upper Qual é o nome fantasia da sua empresa?
      div.col-md-12.group-label
        label.pull-left.fs-anim-lower.label-small endereço
        input.input-border.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
        
      div.col-md-12.group-label
        label.pull-left.fs-anim-lower.label-small endereço
        input.input-border.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
        
      div.col-md-12.group-label
        label.pull-left.fs-anim-lower.label-small endereço
        input.input-border.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
        
      
      div.col-md-6.group-label
          label.pull-left.fs-anim-lower.label-small endereço
          input.input-border.input-border--right.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
          
      div.col-md-6.group-label
          label.pull-left.fs-anim-lower.label-small endereço
          input.input-border.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
        
      
      div.col-md-6.group-label
          label.pull-left.fs-anim-lower.label-small endereço
          input.input-border.input-border--right.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
          
      div.col-md-6.group-label
          label.pull-left.fs-anim-lower.label-small endereço
          input.input-border.input-group__small.fs-anim-lower(type='text', placeholder='Nome da empresa', required='', ng-model="companyName")
