div.guide__block
  h1 Relatórios
  hr


  div.col-md-8
    section.box.box--report
      header.box__header
        h2.box__title Rendas
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE

      div.box__content.box__content--active
        img(src="http://placehold.it/1200x300", alt="")

  div.col-md-4
    section.box.box--report
      header.box__header
        h2.box__title Acordo de férias
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE


      div.box__content.box__content--active.box__content--scroll
        
        ul.list.list--border.row-no-padding
          li.list__item.list__item--highlight
            p.text-strong.col-md-6 nome do funcionário
            p.text-strong.col-md-6.text-center total dias / total valores

          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00
            
          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00

          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00

          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00

          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00

          li.list__item
            span.col-md-6.text-muted.ellipsis Gabriel dos santos Almeida Gabriel dos santos Almeida
            span.col-md-6.text-center 10/R$ 300,00


  div.col-md-8
    section.box.box--report
      header.box__header
        h2.box__title benefícios
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE


      div.box__content.box__content--active
        img(src="http://placehold.it/1200x300", alt="")

  div.col-md-4
    section.box.box--report
      header.box__header
        h2.box__title Faltas
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE


      div.box__content.box__content--active.box__content--scroll
        
        ul.list.list--border.row-no-padding
          li.list__item.list__item--highlight
            p.text-strong.col-md-9 nome do funcionário
            p.text-strong.col-md-3.text-center faltas

          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10
            
          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10

          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10

          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10

          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10

          li.list__item
            span.col-md-9.text-muted.ellipsis lorem ipsum ipsum lorem ipsum ipsum lorem ipsum ipsum
            span.col-md-3.text-center 10


  div.col-md-8
    section.box.box--report
      header.box__header
        h2.box__title Reembolsos
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE


      div.box__content.box__content--active
        img(src="http://placehold.it/1200x300", alt="")

  div.col-md-4
    section.box.box--report
      header.box__header
        h2.box__title Férias
        div.box__btn(ng-controller="ToggleController")
          .dropdown
            button.bt__hamburger(ng-click="showItens()")
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              i.icon__less.icon--gray
              
            .dropdown__content(ng-class="{ 'dropdown--active': componentActive }")
              ul.list.list--border
                li.list__item
                  a.list__link(href="") Exportar PDF
                  
                li.list__item
                  a.list__link(href="") Exportar SPE


      div.box__content.box__content--active
        .report-vacation
          span.report-vacation__count 23

          i.icon.icon--l
            svg
              use(xlink:href="#icon-user")

          p.report-vacation__text Quantidade de funcionários em férias no momento