div.guide__block
  h1 Sidebar
  hr
  
  div.sidebar.col-md-5.no-padding
    div.sidebar__wrapper
    
      div.col-xs-12
        h1.secundary-title cadastro de reembolso
      
      div
        div.col-xs-12
          label.label-small
            | nome
          input.input-border(type='text', required='')
          
        div.col-xs-12
          label.label-small
            | tipo da empresa
          input.input-border(type='text', required='')
        
        div.col-xs-6
          label.label-small
            | data
          input.input-border(type='text', required='')
          
        div.col-xs-6
          label.label-small
              | valor
            input.input-border(type='text', required='')
          
        div.col-xs-12
          label.label-small
            | descrição
          textarea.input-border.textarea(required='')
          
          
        div.col-xs-12
          h1.secundary-title
            p cadastro de reembolso
            p R$ 100,00
          
        div.col-xs-12
          label.label-small
            | justificativa do reembolso
          textarea.input-border.textarea(required='')
        
        div.col-xs-12
          div(ng-controller="ToggleController")
            div.custom-select(ng-click="showItens()",ng-class="{ 'custom-select--green': componentActive }")
              select.visuallyhidden
                option(ng-repeat="option in options") {{ option }}
              div.custom-select__input
                | cargo
                
                ul.custom-select__list(ng-class="{ 'custom-select__list--active': componentActive }")
                  li.custom-select__item(ng-repeat="option in options") {{ option }}
                
        button.bt.bt--green.bt--block
          i.icon.icon__update.icon--mr
            svg
             use(xlink:href="#icon-upload")
          | carregar devolutiva reembolso
        
        button.bt.bt--green.bt--block
          i.icon.icon__update.icon--mr
            svg
             use(xlink:href="#icon-upload")
          | carregar recibo para reembolso
          
    ul.list.list--border.list--border-full
      li.list__item
        i.list__icon.icon.icon__clip.icon--mr
          svg
           use(xlink:href="#icon-clip")
           
        span.list__name recibo_estacionamento.pdf
        span.list__cancel.pull-right
          i.icon.icon__cancel
            svg
             use(xlink:href="#icon-cancel")
        
      li.list__item
        i.list__icon.icon.icon__clip.icon--mr
          svg
           use(xlink:href="#icon-clip")
           
        span.list__name recibo_estacionamento.pdf
        span.list__cancel.pull-right
          i.icon.icon__cancel
            svg
             use(xlink:href="#icon-cancel")
    .sidebar__wrapper.text-center
      button.bt.bt--green.bt--l
        | Cadastrar
      
