div.guide__block
  h1 Time card
  hr
  
  div.col-md-3
    div.card-equip
      div.card-equip__photo
        figure.card-equip__figure
          img.card-equip__img(src="http://placehold.it/300x300", alt="")
          i.icon
            svg
              use(xlink:href="#icon-edit")

      .card-equip__info
        p.card-equip__name Megan Fox
        p.card-equip__birtday
          spam.text-muted Aniversário:
          spam 12 julho
          
        ul.info-list
          li.info-list__item.info-list__item--green
            div.col-xs-4.card-equip__label email
            div.col-md-8.ellipsis
              span.card-equip__email Guilherme@dbrinteratica.com

        li.info-list__item
          div.col-xs-4.card-equip__label telefone
          div.col-md-8.ellipsis (11) 9 00000-0000

        li.info-list__item
          div.col-xs-4.card-equip__label telefone
          div.col-md-8.ellipsis (11) 9 00000-0000

        li.info-list__item
          div.col-xs-4.card-equip__label Depto.
          div.col-md-8.ellipsis Criação

        li.info-list__item
          div.col-xs-4.card-equip__label Cargo
          div.col-md-8.ellipsis Diretor de arte
