div.guide__block
  h1 Carga horaria
  hr
  
  section.view-workload
    header.view-workload__header
      div.pull-left
        h1.view-workload__title
          i.icon.icon--m.icon--mr
            svg
              use(xlink:href="#icon-company")
          | Diurno - Dias úteis
      
      div.pull-right
        button.bt.bt--green editar
        
    ul.view-workload__days
      li.view-workload__day
        p.view-workload__week.uppercase seg
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day
        p.view-workload__week.uppercase ter
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day
        p.view-workload__week.uppercase qua
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day
        p.view-workload__week.uppercase qui
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day
        p.view-workload__week.uppercase sex
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day.view-workload__day--inative
        p.view-workload__week.uppercase sab
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
      li.view-workload__day.view-workload__day--inative
        p.view-workload__week.uppercase dom
        p.view-workload__hour das: 9:00h
        p.view-workload__hour às 18:00h
        
    h3.text-muted.photo-galery__title Equipe
    ul.photo-galery
      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")

      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")

      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")
        
      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")

      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")

      li.photo-galery__item
        img.photo-galery__image(src="http://placehold.it/100x100")
        
      li.photo-galery__link
        button mostrar mais...
