div.welcome
  include ../partials/header
  
  div.auth__container.col-xs-12.col-md-7.col-lg-7
    div.auth__box.clearfix.text-center
      
        h1.welcome__title Bem vindo(a)
        p.text-center.m-b-40 Para proseguir escolha entre cadastrar a sua empresa ou os seus dados pessoais.
        
        i.icon.icon--green.icon--l
          svg
            use(xlink:href="#icon-company")
            
        h2.welcome__subtitle Cadastre a sua empresa
        p Comece agora o cadastro de sua empresas e utilize todas as nossas ferramentas para organizar a sua vida coorporativa.
        
        div.welcome__callback
          a(ui-sref="register.company").bt.bt--green.bt--l Começar

        br
        p
          | Ou 
          a(ui-sref="register.personal") cadastre 
          | seus dados pessoais
        

  footer.footer
    include ../partials/footer
      
      
        
