div.welcome
  include ../partials/header
  
  div.auth__container.col-xs-12.col-md-7.col-lg-7
    div.auth__box.clearfix.text-center
      
        h1.welcome__title Bem vindo(a)
        p.text-center.m-b-40 Para proseguir escolhe entre cadastrar a sua empresa ou os seus dados pessoais.

        div.welcome__company
          img.welcome__company-image(src="http://placehold.it/50x50", alt="Company")
          strong.welcome__company-name DBR Interativa

        
        i.icon.icon--green.icon--l
          svg
            use(xlink:href="#icon-user")
            
        h2.welcome__subtitle Cadastre seus dados pessoais
        p Comece agora o cadastro de sua empresas e utilize todas as nossas ferramentas para organizar a sua vida coorporativa.
        
        div.welcome__callback
          a(ui-sref="register.company").bt.bt--green.bt--l Começar
        

  footer.footer
    include ../partials/footer
      
      
        
