form(ng-submit='saveOrUpdate()',ng-controller='AbsencesRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.sidebar__title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | Usuário
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item as item.display_name for item in users',ng-model='absence.user',ng-if='UserService.isAdmin()',required='required' )
                        select.inside-input(ng-options='item as item.display_name for item in [UserService.user()]',ng-model='absence.user',ng-if='!UserService.isAdmin()',ng-init='absence.user_id = UserService.userId();',required='required')

                div.col-xs-6
                    label.label-small
                        | Ínicio
                    input.input-border(ng-model='absence.starting',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

                div.col-xs-6
                    label.label-small
                        | Fim
                    input.input-border(ng-model='absence.ending',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

                div.col-xs-12
                    label.label-small
                        | Comentário
                    textarea.input-border.textarea(ng-model='absence.comment')

                div.col-xs-12
                    label.label-small
                        | Status
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.slug as item.name for item in statuses',ng-model='absence.status',ng-selected='requested',required='')

                div.col-xs-12
                  fieldset.radio
                    input.radio__input(type='checkbox',ng-model='absence.one_day',ng-change='setOneDay()', name="one-day", id="one-day")
                    label.radio__label(for="one-day") Apenas 1 dia
                
                div.col-xs-12
                  fieldset.radio
                    input.radio__input(type='checkbox',ng-model='absence.justified', name="absence-justified", id="absence-justified")
                    label.radio__label(for="absence-justified") Falta justificada

        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!absence.$resolved')
                | {{ absence.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='absence.$resolved')
                include ../partials/loader
