.alert-info { border: none; background: map-get($colors, gray) ;color: #fff; }
.alert-danger { border: none; background: map-get($colors, red) ;color: #fff }
.alert-warning { border: none; background: map-get($colors, gray) ;color: #fff; }
.alert-success { border: none; background: map-get($colors, gray );color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}

.growl-container {
  font-family: $font-openSans;
  font-size: 12px;
  font-weight: $light;
  .alert-dismissable .close, .alert-dismissible .close{
    position: absolute;
    top: 5px;
    right: 10px;
  }
  &.growl-fixed{
    width: auto !important;
  }
}