$arrow-color: #999999;

.back-to-top {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-top: 10px solid $arrow-color;
  text-align: center;
  font-size: 30px;
  color: $arrow-color;
  font-weight: $bold;
}
