.box {
  background-color: #FFFFFF;

  &__header {
    padding: 15px 20px;
  }

    &__btn {
      float: right;
    }

    &__title {
      font-size: 16px;
      display: inline-block;
      font-family: $font-medium;
      color: map-get($colors, green);
      text-transform: uppercase;
      line-height: 30px;
    }

  &__content {
    @include j-cf();
    padding: 10px;
    display: none;

    &--active {
      display: block;
    }

    &--scroll {
      padding: 0px !important;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 200px;
    }
  }

  &--alert {
    font-family: $font-medium;
    font-size: 14px;
    margin-bottom: 20px;
    height: 70px;

    .box__content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--report {
    .box__content {
      padding: 15px 20px;
      margin-bottom: 20px;
    }

    .box__title {
      color: #444444;
    }

    .report-vacation {
      color: #AAAAAA;
      text-align: center;

      &__count {
        font-size: 55px;
        font-family: $font-medium;
        margin-right: 5px;
        vertical-align: top;
      }

      &__text {
        font-size: 14px;
        margin: 20px 0 40px;
      }
    }
  }

  &--green { color: map-get($colors, green); }
  &--red { color: map-get($colors, red); }

}
