.breadcrubs {
  margin: 10px;
  display: inline-block;
  color: map-get($colors, green);

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 17px;
    font-family: $font-medium;

    &:last-child:after {
      display: none;
    }

    &:after {
      content: '>';
      padding: 0 10px 0 13px;
      color: #a5a5a5;
      display: inline-block;
    }
  }

  a {
    color: currentColor;
  }
}
