.bt {
  padding: 10px 30px;;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  border-radius: 30px;
  background: #CCCCCC;
  color: #FFFFFF;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  }

  &--m {
    padding: 12px 28px;
  }

  &--l {
    padding: 15px 60px;
  }

  &--green {
    background-color: map-get($colors, green);
  }

  &--blue {
    background-color: map-get($colors, blue);
  }

  &--red {
    background-color: map-get($colors, red);
  }

  &--bege {
    background-color: map-get($colors, bege);
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--inline {
    display: inline-block;

    .bt {
      margin-right: 10px;
    }

    &:last-child .bt {
      margin-right: 0px;
    }
  }
}

.bt__round {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  position: relative;

  &--l {
    width: 60px;
    height: 60px;
  }

  &--green {
    @extend .bt--green;
  }

  &--gray {
    background-color: #F2F2F1;
  }

  &--white {
    background-color: #FFFFFF;
  }

  &--shadow {
    box-shadow: 0 2px 0px 2px rgba(0, 0, 0, .1);
  }

  &--or:before {
    content: 'ou';
    color: #444444;
    font-family: $font-medium;
    font-weight: 700;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}


.bt__hamburger {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  position: relative;

  .icon__less {
    height: 2px;
    margin-bottom: 4px;
  }
}
