.fc {
  color: #535353;

  .fc-widget-header th {
    border: none;
  }

  .fc-head .fc-head-container {
    border: none;
    text-align: left;
  }

  .fc-toolbar h2 {
    font-size: 22px;
    text-transform: capitalize;
  }

  .fc-day-header {
    text-align: left;
    padding-bottom: 10px;
    font-weight: $normal;
    text-transform: capitalize;
  }

  .fc-widget-content .fc-sun,
  .fc-widget-content .fc-sat {
    background-color: map-get($colors, green);
    color: #FFFFFF;
  }

  .fc-basic-view .fc-day-number {
    padding: 10px;
  }

  .fc-toolbar .fc-button-group .fc-prev-button,
  .fc-toolbar .fc-button-group .fc-next-button {
    background-color: transparent;
    background-image: none;
    border: none;
    color: map-get($colors, green);
    box-shadow: none;
  }

}

.fc-unthemed .fc-today {
  background-color: map-get($colors, bege);
  color: #FFFFFF;
}
