.card-equip {
	float: left;
	background-color: #FFFFFF;
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: $font-medium;

	&__label {
		@extend .text-muted;
		text-align: right;
	}

	&__name {
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__photo {
		text-align: center;
		position: relative;
		height: 140px;
	}

	&__figure {
		@include j-align(both);
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
		display: block;
		border-radius: 50%;

		.icon {
			position: absolute;
			display: block;
			visibility: hidden;
		}

		&:hover {
			background-color: map-get($colors, green);

			.icon {
				@include j-align(both);
				visibility: visible;
				cursor: pointer;

				svg {
					fill: map-get($colors, green);
					width: 30px;
					height: 30px;
				}
			}

			.card-equip__img {
				opacity: 0.5;
			}
		}
	}

	&__img {
		display: block;
		margin: 0;
		padding: 0;
		outline: 0;
		border: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		opacity: 1;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}

	&__info {
		@extend .clearfix;
		text-align: center;
		margin: 20px 0;
		float: left;
		width: 100%;
	}
}

.info-list__item {
	float: left;
	display: block;
	width: 100%;
	border-top: 1px solid #ebebeb;
	padding: 15px 0;

	&--green {
		color: map-get($colors, green);
	}
}
