.checkbox .regular-checkbox {
  background-color: #FFF;
}

.checkbox__text {
  font-size: 20px;
  line-height: 47px;
  vertical-align: top;
  margin-left: 15px;
}

.checkbox label {
  display: inline;
}

.checkbox .regular-checkbox {
  display: none;
}

.checkbox .regular-checkbox + label {
  background-color: #FFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox .regular-checkbox:checked + label {
  background-color: #FFF;
  border: 1px solid #CCCCCC;
  color: #000;
}

.checkbox .regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: green;
}


.checkbox .big-checkbox + label {
  padding: 18px;
}

.checkbox .big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}
