#fs-form-wrap {
  float: none;
  margin: 0 auto;
  padding: 40px 90px 0px 40px;
  // max-height: 660px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px #CCC;

  .row-input {
    @extend .clearfix;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .register__label {
    font-size: 26px;
    font-family: $font-medium;
    display: block;
  }

  input[type="date"] {
    font-size: 22px;
  }
}

.fs-next-register,
.fs-finish {
  @extend .bt;
  @extend .bt--green;
  position: absolute;
  bottom: 40px;
  visibility: hidden;
}

.fs-next-register {
  right: 190px;
}

.fs-finish {
  right: 40px;
}

.fs-fields {
  select {
    font-size: 28px;
  }

  textarea {
    min-height: 100px
  }
}


.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
	background: map-get($colors, green);
}

/* Progress bar */
.fs-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 0.5em;
	background: map-get($colors, green);
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

.fs-title .select {
  position: relative;
  height: 42px;
  z-index: $level-3;
}

.fs-title {
  color: map-get($colors, green);
  text-transform: uppercase;
  font-family: $font-medium;

  h1 {
    font-size: 20px;
  }
}

.fs-nav-dots {
  position: initial;
  float: right;
  margin-right: -40px;
}

.fs-numbers {
  font-size: 18px;
  width: 70px;
}

.fs-current {
  @extend .clearfix;
  position: relative !important;
  padding-top: 100px !important;
}

.fs-form-wrap {
  @extend .clearfix;
	position: relative;
	width: 100%;
}

.fs-message-error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 800;
  max-width: 960px;
  width: 70%;
  color: #999;
  font-weight: 700;
  font-size: 1em;
  opacity: 0;
  -webkit-transform: none !important;
  transform: none !important;
  color: map-get($colors, red);
}

.fs-continue {
  @extend .bt;
  @extend .bt--green;
  @extend .bt--l;
}

.fs-nav-dots button:after,
.fs-nav-dots button:before {
  background-color: map-get($colors, green);
}

.fs-nav-dots [disabled]:after,
.fs-nav-dots [disabled]:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.fs-nav-dots button.fs-dot-current:after,
.fs-nav-dots button.fs-dot-current:before {
  background-color: #AAAAAA;
}

.fs-nav-dots button.fs-dot-error:after,
.fs-nav-dots button.fs-dot-error:before {
  background-color: map-get($colors, red);
}

@media screen and ( max-width: $ipad--landscape ) {
  #registerForm {
    float: left !important;
  }

  .fs-nav-dots {
    transform: none;
    margin-right: -30px;

    button {
      width: 10px;
      height: 10px;
    }
  }

  .fs-form {
    top: initial;
    padding: 0;
    margin-top: 20px;
  }

  .fs-form-wrap {
  	position: relative;
  	width: 100%;
  }

  .fs-current {
    padding-top: 0px !important;
  }

  #fs-form-wrap {
    float: none;
    margin: 0 auto;
    padding: 40px 50px 70px 20px!important;
  }

}
