.custom-select {
  outline: none;
  
  &__input {
    @extend .input-border;
    min-height: 36px;
    position: relative;

    &:after {
      content: '';
      float: right;
      margin-top: 3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 7.5px 0 7.5px;
      border-color: #666a6e transparent transparent transparent;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;
    @extend %box-shadow;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #FFFFFF;

    &--active {
      display: block;
    }
  }

  &__item {
    padding: 15px;
    cursor: pointer;

    &:first-child {
      color: #898989;
    }

    &:hover {
      background-color: map-get($colors, green);
      color: #FFFFFF;
    }
  }
}

.custom-select {
  &--green {
    @include select-theme(green);
  }

  &--red {
    @include select-theme(red);
  }

  &--blue {
    @include select-theme(blue);
  }
}
