.dashboard-card {
  @include j-cf();
  margin-bottom: 20px;
  font-size: 14px;
  padding: 20px 10%;
  border-radius: 3px;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  min-height: 170px;

  &__cover {
    text-align: center;
  }

  &__ilustration {
    margin: 19px 0 30px 0;

    &--image {
      margin: 0 0 10px 0;
    }
  }

  &__image {
    border-radius: 100%;
    width: 72px;
    height: 72px;
  }

  &__title, &__subtitle {
    font-size: 14px;
    font-family: $font-medium;
    font-weight: $bold;
    text-transform: uppercase;
  }

  &__title {}

  &__content {}
  &__subtitle {}

  &__list {
    font-family: $font-book;
    margin: 20px 0 6px 0;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  &--white { background-color: #FFFFFF; }
  &--black { background-color: #363940; }
  &--blue { background-color: map-get($colors, blue); }
  &--red { background-color: map-get($colors, red); }
  &--green { background-color: map-get($colors, green); }

  &--white {
    color: map-get($colors, blue);
  }

}

.dashboard-card--expanded {
  .dashboard-card__cover {
    width: 20%;
    float: left;
  }

  .dashboard-card__ilustration {
    margin: 0px 0 49px 0;
  }

  .dashboard-card__content {
    width: 70%;
    float: right;
  }

}
