.data-transport {
  background-color: #FFFFFF;
  padding: 50px 5%;
  text-align: center;

  &__header {
    color: map-get($colors, green);
  }

  &__title {
    font-family: $font-medium;
    text-transform: uppercase;
    margin: 15px 0 20px;
    font-size: 18px;
    font-weight: $light;
    letter-spacing: 2px;
  }

  &__content {
    font-size: 14px;
    margin-bottom: 20px;
  }

}