.dropdown {
  position: relative;

  &__content {
    @extend %box-shadow;
    position: absolute;
    margin-top: 10px;
    right: 0;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #f1f1f1;
    z-index: $level-2;
    min-width: 130px;
  }

  &--active {
    display: block;
  }

  .list {
    margin: 0;

    &__item {
      color: #000;
      white-space: nowrap;
    }
  }
}
