.file-card {
  margin-bottom: 30px;

  &__container {
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 10px;
  }

  &__delete {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__ilustration {
    height: 200px;
    overflow: hidden;
    text-align: center;

    .icon {
      width: 100px;
    }

    .svg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__info {
    color: #565d68;
    font-size: 14px;
  }

  &__name {
    vertical-align: top;
  }

  &:hover &__container {
    box-shadow: 0 3px 5px #cccccc;
  }

  &:hover &__info {
    color: #000000;
    font-weight: $bold;
  }

}
