// INPUT BORDER

.input-border {
  background-color: transparent;
  border-bottom: 2px solid map-get($colors, muted);
  width: 100%;
  padding: 5px 10px 10px 0px;
  font-size: 16px;
  line-height: 16px;

  &--left {
    border-left: 1px solid map-get($colors, muted);
  }

  &--right {
    border-right: 1px solid map-get($colors, muted);
  }

  &--top {
    border-top: 1px solid map-get($colors, muted);
  }

  &--green {
    border-color: map-get($colors, green);
  }

  &--red {
    border-color: map-get($colors, red);
  }

  &--blue {
    border-color: map-get($colors, blue);
  }

  &--full {
    border-left: 1px solid map-get($colors, muted);
    border-right: 1px solid map-get($colors, muted);
    border-top: 1px solid map-get($colors, muted);
  }

  &:focus {
    outline: none;
    @extend .input-border--green;
  }
}

.inside-input {
  width: 100%;
  background: transparent;
  margin-top: 0;
  height: 18px;

  &:focus {
    outline: none;
  }
}

.label-small {
  font-size: 12px;
  margin-top: 3px;
  color: #999;
  text-transform: uppercase;

  &--right {
    right: 3px;
  }
}

.input-group__small {
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.group-label {
  position: relative;

  .label-small {
    position: absolute;
    top: -1px;
    text-transform: uppercase;
    font-family: $font-medium;
    font-size: 10px;
    color: #c1c5cb;
  }

  .input-group__small {
    padding-top: 24px;
    margin-bottom: 0 !important;
  }
}

.input-icon {
  @include j-cf();
  background-repeat: no-repeat !important;
  background-attachment: scroll;
  // background-size: 17px;
  background-position: 7px 15px !important;
  position: relative;

  input {
    padding-left: 30px;
  }

  .icon {
    position: absolute;
    bottom: 2px;
    top: 6px;

    &--search {
      stroke: currentColor;
      color: #858585;
    }
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 100%;
  height: 200px;
  margin: 10px auto;
}

.image-result {
  display: block;
  margin: 10px auto;
}

.select {
  background-color: transparent;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px 15px;
  width: 100%;
}

// IMPUT FILE

.input-file {
  position: relative;
  overflow: hidden;
  font-size: 18px;

  input[type="file"] {
    z-index: 99;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.textarea {
  min-height: 100px;
}

.label-required--after {
  @include label-required('after', 'left');
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999 !important;
}
.fs-fields select{
  font-size: 18px !important;
}
.pac-container { z-index: 100000; }
