.header {
	@include j-cf();
	// height: 115px;
	background-color: map-get($colors, green);
	color: #FFFFFF;
	padding: 30px 0;
	position: relative;

	&__logo {
		a {
			display: inline-block;
		}

		svg {
			fill: #FFF;
			width: 80px;
			height: 58px;
		}
	}
	// &--dashboard {
	//   background-color: #FFFFFF;
	//   .menu {
	//     display: none;
	//   }
	// }
}
