.icon-cancel {
  color: #FF0000;
  background: transparent;
  font-size: 18px;
}

.icon {
  color: currentColor;
  vertical-align: middle;

  &__default {
    width: 20px;
    height: 20px;
  }

  .bt & {
    position: relative;
    top: 3px;
  }

  svg {
    fill: currentColor;
    width: inherit;
    height: inherit;
  }

  &__update {
    width: 15px;
    height: 20px;
  }

  &__clip {
    width: 20px;
    height: 20px;
    color: map-get($colors, green);
  }

  &__user {
    width: 60px;
    height: 60px;
  }

  &__cancel {
    width: 15px;
    height: 20px;
  }

  &--ml {
    margin-left: 15px;
  }

  &--mr {
    margin-right: 15px;
  }

  &--white {
    color: #FFFFFF;
  }

  &--gray {
    color: #b2b2b2;
  }

  &--green {
    color: map-get($colors, green);
  }

  &--l {
    width: 60px;
    height: 60px;
  }

  &--m {
    width: 30px;
    height: 30px;
  }
}

.icon__plus, .icon__less {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    width: 60%;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
    height: 3px;
    display: inline-block;
  }
}

.icon__plus:after {
  @extend .icon__plus:before;
  transform: rotate(90deg);
  top: 47%;
}
