.list {
  @include j-cf();

  &--border {
    .list__item {
      border-bottom: 1px solid #f1f1f1;

      &:last-child {
        border: none;
      }
    }
  }

  &--border-full {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }

  &__item {
    @include j-cf();
    padding: 10px;

    &--highlight {
      background-color: #f5f5f5;
    }

    .box--report & {
      font-size: 14px;
    }
  }

  &__link {
    color: #000000;

    &:hover {
      font-weight: $bold;
    }
  }

}
