.list-account {
  width: 100%;
  margin: 30px 0;
  float: left;
}

  .list-account__item {
    border-bottom: 2px dashed #999;
    padding: 15px 0px;
    width: 100%;
    float: left;

    &:nth-last-of-type(2) {
      border-bottom: 0px;
    }
  }

    .list-account__subitem {
      width: 50%;
    }

  .list-account__total {
    float: left;
    width: 100%;
    background-color: #F5F5F5;
    padding: 15px 0;
    font-weight: $bold;
  }
