.menu {

  &__item {
    font-family: $font-book;
  }

  &__icon {
    width: 33px;
    height: 33px;
  }
}

@media screen and (min-width: 700px) {

  .header__logo {
    @include j-column(2/20, $gutter: 0);

		// svg {
		// 	max-width: 100px;
		// 	max-height: 70px;
		// }
  }

  .menu {
    @include j-column(12/20, $gutter: 0);
    text-align: center;

    &__item {
      display: inline-block;
      text-align: center;
			width: 85px;
			margin: 0 10px;
      color: #FFFFFF;
      position: relative;
			cursor: pointer;
			margin-top: 10px;

      &:hover {
        color: #FFFFFF;
        text-decoration: none;

				&:before {
					content: " ";
					width: 90px;
					height: 90px;
					border-radius: 50%;
					background-color: map-get($colors, blue);
					@include j-align(both);
					z-index: 0;
				}
      }

			span {
				position: relative;
				font-size: 12px;
		    font-weight: 100;
			}
    }

    &__icon {
      margin: 0 auto;
      display: block;
			position: relative;
			width: 25px;
			height: 25px;
    }

  }

  .menu-user {
    @include j-column(6/20, $gutter: 0);
		text-align: right;
		margin-bottom: 0;
		margin-top: 8px;

    &__item {
      display: inline-block;
      position: relative;
      outline: none;
			margin-left: 10px;

      &:after {
        content: '';
        float: right;
        margin: 20px 5px 0 5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 7.5px 0 7.5px;
        border-color: #FFFFFF transparent transparent transparent;
      }
    }

    &__info {
      display: inline-block;
      text-align: right;
      position: relative;
      top: -10px;
      margin-right: 10px;
    }

		&__name {
			font-size: 16px;
			font-weight: 500;
		}

    &__type {
      text-transform: uppercase;
      font-size: 12px;
			font-weight: 100;
    }

    &__callback {
      color: map-get($colors, green);
      text-align: center;
      font-size: 15px;
      display: block;

      .icon__plus {
        position: relative;
        top: 8px;
      }

      &:hover {
        color: map-get($colors, green);
      }
    }

    &__photo {
      display: inline-block;
      position: relative;

      img {
        border-radius: 50%;
      }
    }
  }

  .menu-user__dropdown {
    box-shadow: 0 3px 5px #cccccc;
    border: 1px solid #f5f5f5;
		position: absolute;
		right: 0;
		top: 80px;
    display: none;
    background-color: #FFFFFF;
    min-width: 320px;
    border-radius: 3px;
    padding: 40px 30px;
    color: #949494;
    z-index: $level-3;

    &:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #FFFFFF transparent;
    }

    &-item {
      display: block;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
	    text-align: left;
    }

    .icon {
      float: right;
      color: map-get($colors, green);

    }

    &--active {
      display: block;
    }
  }

}

.menu-user__dropdown--company {
  color: #535353;

	&:before {
		right: 12%;
		left: auto;
	}

  .menu-user__dropdown-item {
    height: 50px;
    line-height: 50px;
  }
}

.company-type:after {
  content: attr(data-company-type);
  display: inline-block;
  margin-left: 3px;
  color: #949494;
}

.menu-user__dropdown-item--count {
  &:before {
    content: attr(data-count);
    font-weight: $extra-bold;
    font-size: 20px;
    min-width: 60px;
    display: inline-block;
    // margin-right: 10px;
    color: map-get($colors, green);
  }
}
