.notification-card {
  @include j-cf();
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;


  &:hover {
    box-shadow: 0 3px 5px #cccccc;
  }

  &__figure {
    float: left;
    margin-right: 20px;
  }

  &__image {
    border-radius: 100%;
    max-width: 60px;
  }

  &__content {
    width: 90%;
    display: inline-block;
  }

  &__name {
    display: inline-block;
    font-size: 16px;
    font-weight: $bold;
    margin: 7px 5px 0 0;
  }

  &__info {
    display: inline-block;
    margin-top: 7px;
  }

  &__date {
    @extend .text-muted;
    margin-top: 7px;
    display: block
  }

  &__time {}

  &--noimage {
    background-color: map-get($colors, bege);
    color: #FFFFFF;

    .notification-card__content {
      margin-left: 80px;
    }

    .notification-card__date {
      color: #FFFFFF;
    }
  }
}