.photo-galery {}

.photo-galery__item {
  display: inline-block;
  margin: 0 2px 5px 0;
}

.photo-galery__title {
  margin: 30px 0 10px;
}

.photo-galery__link {
  color: map-get($colors, green);
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  margin-left: 20px;
}

.photo-galery__image {
  max-width: 50px;
}
