$triangleWidth: 25px;
.plans__range {
  margin: 60px 0;
  color: #FFFFFF;
}

.range-section__content {
  padding: 0 40px;
}
.range-section__count {
  font-size: 70px;
  font-weight: $bold;
}

.range-section__title {
  font-weight: $bold;
}

.range-section {
  padding: 40px 20px;
  height: 270px;

  &--input {
    background-color: #666;

    &:after {
      position: absolute;
      z-index: $level-2;
      right: -$triangleWidth;
      top: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 135px 0 135px $triangleWidth;
      border-color: transparent transparent transparent #666;
    }
  }

  &--count {
    background-color: #999;

    &:after {
      position: absolute;
      z-index: $level-2;
      right: -$triangleWidth;
      top: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 135px 0 135px $triangleWidth;
      border-color: transparent transparent transparent #999;
    }
  }

  &--contact {
    background-color: #CCC;
  }
}
