.profile-card {
  @include j-cf();
  background-color: #FFFFFF;
  padding: 20px;
  font-size: 14px;

  &__title {
    font-size: 16px;
    font-family: $font-openSans;
    margin-bottom: 10px;
  }

  &__image img {
    border-radius: 50%;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__edit {
    margin-top: 20px;
  }
}
