.radio {
  position: relative;
  display: inline-block;

  &__label {
    display: inline-block;
    position: relative;
    padding-left: 30px !important;
    line-height: 26px;

    &:after {
      content: '';
      width: 26px;
      height: 26px;
      background-color: #EEEEEE;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #999;
      left: 8px;
      top: 8px;
      z-index: 1;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;

    &:checked + .radio__label:before {
      background-color: map-get($colors, green);
    }
  }


  .register & {
    margin-top: 7px;
  }

}


.radio-icon {
  position: relative;
  display: inline-block;

  &__label {
    border: 1px solid map-get($colors, muted);
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: map-get($colors, muted);
    }
  }

  &__ilustration {
    display: block;
    margin-bottom: 20px;
    color: map-get($colors, muted);
  }

  &__text {
    color: map-get($colors, muted);
  }

  &__input {
    position: absolute;
    visibility: hidden;

    &:checked + .radio-icon__label {
      border: 1px solid map-get($colors, green);

      .radio-icon__ilustration,
      .radio-icon__text {
        color: map-get($colors, green);
      }

      &:before {
        width: 4px;
        top: 10px;
        left: 7px;
        height: 9px;
        background-color: map-get($colors, green);
        transform: rotate(-30deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 12px;
        left: 8px;
        width: 17px;
        height: 4px;
        background-color: #C1C5CB;
        transform: rotate(-30deg);
        background-color: map-get($colors, green);
      }
    }

  }
}
