.sidebar {
  @extend %box-shadow;
  border-radius: 3px;
  background-color: #FFFFFF;

  &__wrapper {
    @include j-cf();
    padding: 5%;
  }

  &__title {
    @extend .secundary-title;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .input-border {
    margin-bottom: 20px;
  }
}
