.submenu {
  background: map-get($colors, blue);
  padding: 10px 0;
  text-align: center;
  display: none;

  &__item {
    margin: 10px;
    color: #FFFFFF;
  }

  &__item:hover, &__item:active {
    color: #FFFFFF;
    text-decoration: none;
  }

  &--active {
    display: block;
  }
}