.tab {
  background-color: #FFFFFF;


  &__header {
     @include j-cf();
  }

  &__btn {
    @include j-span(1/3);
    padding: 10px 0;
    border-bottom: 4px solid #dddddd;
    font-size: 14px;
    color: #a2a2a2;

    &--active {
      color: #000000;
      border-bottom: 4px solid map-get($colors, green);
    }
  }

  &__section {
    display: none;
    padding: 10px 10px 0 10px;

    &--active {
      display: block;
    }
  }

  &--profile {
    font-size: 14px;
  }
}
