.table {
  width: 100%;
  background-color: #FFFFFF;

  &__head {
    font-family: $font-medium;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__divider {
    border-bottom: 10px solid map-get($colors, background);
  }

  &__cell {
    padding: 20px;
    vertical-align: middle;

    .table__head & {
      padding: 30px 20px;
    }
  }

  &__row {
    &--border .table__cell {
      border-right: 1px solid map-get($colors, background);

      &:last-child {
        border-right: none;
      }
    }

    &--centered .table__cell {
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }

    &--ok {
      color: map-get($colors, green);
    }

    &--warning {
      color: map-get($colors, red);
    }

    &--expand {
      display: none;
    }
  }

  &__dropdown-title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.table--refund .table__row--centered .table__cell,
.table--benefits .table__row--centered .table__cell {
  text-align: center;

  &:nth-child(2) {
    text-align: left;
  }
}

.table--benefits .table__row--centered .table__cell:first-child {
  text-align: center;
}

.table .table__cell {
  &--period {
    text-align: left;
  }

  &-date {
    text-align: right;
  }
}

