.view-workload {
  @include j-cf();
  background-color: #FFFFFF;
  padding: 20px;

  &__header {
    @include j-cf();
    margin-bottom: 30px;
  }

    &__title {
      font-family: $font-medium;
      font-weight: $bold;
    }

  &__days {
    @include j-cf();
    border: 1px solid #cdd0d4;
  }

    &__day {
      @include j-span(1/7);
      font-family: $font-openSans;
      border-right: 1px solid #cdd0d4;
      text-align: center;
      padding: 20px;

      &--inative {
        background-color: #f0f0f0;
        color: #b5b5b5;
      }

      &:last-child {
        border-right: none;
      }
    }

      &__week {
        font-size: 24px;
        font-weight: $extra-bold;
        border-bottom: 1px solid #cdd0d4;
        padding-bottom: 10px;
        margin-bottom: 15px;
      }

      &__hour {}

}
