.workload {
  color: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  font-family: $font-medium;
  margin-right: 10px;
  margin-bottom: 5px;

  &__content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &__day {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__hour {
    font-size: 12px;
  }

  &--bege  { background-color: map-get($colors, bege); }
  &--blue  { background-color: map-get($colors, blue); }
  &--green { background-color: map-get($colors, green); }
}