div.plans
  div.col-md-6.centered-grid
    include ../partials/header
      
    h2.plans__title.text-center.m-b-30 Conheça nossos planos
    
    div.row
      div.text-center.col-md-4
        i.glyphicon.glyphicon-user.m-t-30.m-b-30.icon-large
        p.text-muted Facilidade na emissão de folha de pagamento
        
      div.text-center.col-md-4
        i.glyphicon.glyphicon-user.m-t-30.m-b-30.icon-large
        p.text-muted Controle de equipe
      div.text-center.col-md-4
      
        i.glyphicon.glyphicon-user.m-t-30.m-b-30.icon-large
        p.text-muted Acesso mobile
        
    div.row.plans__range
      div.text-center.col-md-4.range-section.range-section--input
        p.range-section__title A DBR INTERATIVA tem:
        h3.range-section__count {{ employes }}
        p funcionários
        input(type="range", value="5", min="5", max="50" step="5" ng-model="employes")
        
        
      div.text-center.col-md-4.range-section.range-section--count
        p.range-section__title Plano atual
        h3.range-section__count 5
        p funcionários
        
      div.text-center.col-md-4.range-section.range-section--contact
        p.range-section__title mensalidade:
        p.range-section__content entre em contato com um de nossos atendentes para saber o plano perfeito para você.
        
        button.btn.btn-default contato
        
    div.row
      div.col-md-6
        .input-group
          input.form-control(type='text')
          span.input-group-btn
            button.btn.btn-default(type='button') Validar cupom!
        
      div.col-md-6
        button.btn.btn-default.pull-right Contratar

  div.auth__footer-container
    div.auth__footer.col-xs-10.col-md-8
      include ../partials/footer
