include filters
div.equip
    div.wrapper-large
        div.col-md-4.no-padding
            include register
        div.col-md-8
            div.loader(ng-hide='resourceItem.$resolved')
                include ../partials/loader

            table.table.table--refund(ng-show='resourceItem.$resolved && list.length')
                thead.table__head
                    tr.table__row.table__divider.table__row--centered
                        td.table__cell
                        td.table__cell Nome / Plano
                        td.table__cell Tipo
                        td.table__cell Fornecedor
                        td.table__cell Editar

                tbody.table__body

                    tr.table__row.table__row--ok.table__row--border.table__row--centered(dir-paginate-start="item in list | itemsPerPage: pagination.limit",total-items="pagination.total" current-page="pagination.current_page",ng-class="{ 'table__divider': expanded }")
                        td.table__cell(ng-init='setCategory(item);setProvider(item);expanded = true;')
                            button.bt__round.bt__round--green(ng-click="expanded = !expanded;")
                                i.icon--white(ng-class=" expanded ? 'icon__plus' : 'icon__less' ")

                        td.table__cell {{ item.name }}
                        td.table__cell {{ item.category ? item.category.name : '' }}
                        td.table__cell {{ item.provider ? item.provider.name : '' }}
                        td.table__cell
                            button.bt.bt--blue(ng-click='getToEdit(item)')
                                | Editar

                    tr.table__divider(ng-class="{ 'table__row--expand': expanded }",dir-paginate-end)
                        td(colspan="5")
                            table.table
                                tbody
                                    tr
                                        td(colspan="2").table__cell
                                            h3.text-muted Descrição
                                            p {{ item.description }}


            div(ng-show='resourceItem.$resolved && !list.length')
                include ../partials/no-results

            include ../partials/pagination
