form(ng-submit='saveOrUpdate()',ng-controller='BenefitsRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.sidebar__title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | nome
                    input.input-border(type='text', required='',ng-model='benefit.name')

                div.col-xs-12
                    label.label-small
                        | Tipo
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.name for item in categories',ng-model='benefit.benefit_category_id')

                div.col-xs-12
                    label.pull-left.label-small
                        | Fornecedor

                    a.label-small.label-small--right.pull-right(ng-click='addProvider()')
                        | criar um novo

                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.id as item.name for item in providers',ng-model='benefit.provider_id')

                div.col-xs-12
                    label.label-small
                        | Descrição
                    textarea.input-border.textarea(required='',ng-model='benefit.description')

            div.col-xs-12
                h1.sidebar__title {{ title2 }}

            div
                div.col-xs-12
                    label.label-small
                        | Empresa
                    select.inside-input(ng-options='item.id as item.trading_name for item in companies',ng-model='benefit.company_id')

                div.col-xs-12
                    label.label-small
                        | Departamento
                    select.inside-input(ng-options='item.id as item.name for item in departments',ng-model='department')

                div.col-xs-12
                    label.label-small
                        | Nome Funcionário
                    angucomplete-alt(placeholder='Nome Funcionário',pause="300",selected-object="selectedUser",local-data="users",title-field="name",minlength="2",input-class="input-border",match-class="highlight")
                div.col-xs-12
                    ul
                        li(ng-repeat='user in saveUsers')
                          | {{ user.name }}


        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!benefit.$resolved')
                | {{ benefit.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='benefit.$resolved')
                include ../partials/loader
