div.auth
  include ../partials/header
    
  div.auth__container.col-xs-12.col-md-7.col-lg-6
    div.auth__box.clearfix
      
      form
        .col-xs-12.no-padding
          label.label-small CPF
          input.input-border.input-group__small(type='number',required='required', tabindex="1")

        .col-xs-12.no-padding
          label.label-small senha
          input.input-border.input-group__small(type='password',required='required', tabindex="2")
          
        a.auth__forward-link(ui-sref="auth.login", tabindex="3") Esqueceu o email?
        .text-center
          button.bt.bt--l.bt--green(type='submit', tabindex="4") Entrar
        
    include register-link

  footer.footer
    include ../partials/footer
