div.auth
  include ../partials/header
    
  div.auth__container.col-xs-12.col-md-7.col-lg-6
    div.auth__box.clearfix
    
      p.text-center Insira aqui seu e-mail de cadastro, o processo de uma nova senha vai  ser enviado ao email inserido abaixo. 
      
      form.m-t-40
        label.label-small Email
        input.input-border(type='email', tabindex="1")
          
        a.auth__forward-link(ui-sref="auth.login", tabindex="2") Esqueceu a senha?
        .text-center
          button.bt.bt--l.bt--green(type='submit', tabindex="3") Enviar

  footer.footer
    include ../partials/footer
