div.auth
  include ../partials/header
  
  div.auth__container.col-xs-12.col-md-7.col-lg-6
    div.auth__box.clearfix
      
      div.text-center.m-t-40.m-b-40
        button.bt.bt--m.bt--red(tabindex="1",ng-click="authenticate('google')")
          | Usar a conta do google
          
          i.icon.icon__update.icon--ml
            svg
             use(xlink:href="#icon-google")
      
      div.text-center
        div.bt__round.bt__round--gray.bt__round--l.bt__round--or
      
      form(ng-submit='signIn()')
        
        .col-xs-12.no-padding
          label.label-small email
          input.input-border.input-group__small(type='email', placeholder='Email',ng-model='user.username',required='required', tabindex="2")

        .col-xs-12.no-padding
          label.label-small senha
          input.input-border.input-group__small(type='password', placeholder='Senha',ng-model='user.password',required='required', tabindex="3")
          
          a.auth__forward-link(ui-sref="auth.forward") Esqueceu a senha?
        
        div.text-center
          button.bt.bt--l.bt--green(type='submit', tabindex="4")
            | Entrar
        
    include register-link

  footer.footer
    include ../partials/footer
