div.auth
  include ../partials/header
  
  div.auth__container.col-xs-12.col-md-7.col-lg-6
    div.auth__box.clearfix
      
      div.text-center.m-t-40.m-b-40
        button.bt.bt--m.bt--red(tabindex="1")
          | Usar a conta do google
          
          i.icon.icon__update.icon--ml
            svg
             use(xlink:href="#icon-google")
      
      div.text-center
       div.bt__round.bt__round--gray.bt__round--l.bt__round--or
      
      form(ng-submit='addUser()')
        .col-xs-12.no-padding
          label.label-small email
          input.input-border.input-group__small(type='email', ng-model='user.credentials.email', tabindex="2")
          
        .col-xs-12.no-padding
          label.label-small senha
          input.input-border.input-group__small(type='password', ng-model='user.credentials.password', tabindex="3")
          
        .col-xs-12.no-padding
          label.label-small Confirmação de senha
          input.input-border.input-group__small(type='password', ng-model='user.credentials.password_confirmation', tabindex="4")
          
        .col-xs-12.no-padding
          .auth__terms
            input(type='checkbox',ng-model='user.credentials.terms_of_use')
            label.auth__terms-label(ng-click="termsOpen()")
              | Li e aceito os termos de uso 

        div.text-center
          button.bt.bt--l.bt--green(type='submit', tabindex="5")
            | Cadastrar
      
  footer.footer.col-xs-12.col-md-7.col-lg-4
    include ../partials/footer
