.wrapper-large
    .page-nav
        div.filter.col-md-5
            include ../partials/breadcrubs
div.equip
    div.wrapper-large
        div(ui-calendar='uiConfig.calendar',ng-model='eventSources',id='myCalendar')