include sprite

header.header(ng-hide='hideHeader')
  .wrapper-large

    div.header__logo
      a(href="#")
        svg
          use(xlink:href="#logo-small")

    include menu
    include user-menu
include submenu-extra
include submenu-control
        
      
