div.row
    div.col-xs-12
        div.cssload-thecube
            div.cssload-cube.cssload-c1
            div.cssload-cube.cssload-c2
            div.cssload-cube.cssload-c4
            div.cssload-cube.cssload-c3