nav.menu(ng-controller="MenuController")

  a.menu__item(ui-sref="app.index")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-home")

    span Home

  a.menu__item(ui-sref="app.team.index")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-equip")

    span Equipe

  a.menu__item(ng-click="showSubmenu('menu-control')")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-controllers")

    span Controles

  a.menu__item(ng-click="showSubmenu('menu-extra')")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-data")

    span Dados extras

  a.menu__item(ui-sref="app.calendar")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-calendar")

    span Calendário

  a.menu__item(ui-sref="app.calendar")
    i.icon.menu__icon
      svg
        use(xlink:href="#icon-reports")

    span Relatórios
