nav.submenu#menu-extra
  .wrapper-large
    a.submenu__item(ui-sref="app.extra.providers.index") Fornecedores
    a.submenu__item(ui-sref="app.extra.benefits.index") Benefícios
    a.submenu__item(ui-sref="app.extra.documents.index") Documentos
    a.submenu__item(ui-sref="app.index") Carga horária
    a.submenu__item(ui-sref="app.index") Empresa
