nav.submenu#menu-control
  .wrapper-large
    a.submenu__item(ui-sref="app.control.vacations.index") Férias
    a.submenu__item(ui-sref="app.control.licenses.index") Licenças
    a.submenu__item(ui-sref="app.control.absences.index") Faltas
    a.submenu__item(ui-sref="app.control.refunds.index") Reembolso
