ol.breadcrubs
  li.breadcrubs__item
    a(href="#") Home
  
  li.breadcrubs__item(ng-repeat='step in steps | limitTo:(steps.length-1)')
    a(href='{{step.ncyBreadcrumbLink}}', ng-bind-html='step.ncyBreadcrumbLabel')
  li.breadcrubs__item.breadcrubs__item--active(ng-repeat='step in steps | limitTo:-1')
    span(ng-bind-html='step.ncyBreadcrumbLabel')
