ul.menu-user

	li.menu-user__item(ng-controller="ToggleController", ng-click="showItens()")
		.menu-user__info
			p.menu-user__name {{ user.display_name }}
			//- p.menu-user__type Diretor de arte
		.menu-user__photo
			img(ng-src="{{UserService.getAvatarUrl()}}", alt="",ng-if='UserService.getAvatarUrl()',width='50')
			img(src="http://placehold.it/50x50", alt="", ng-if='!UserService.getAvatarUrl()')

		ul.menu-user__dropdown(ng-class="{ 'menu-user__dropdown--active': componentActive }")
			li.menu-user__dropdown-item
				span Perfil
				i.icon.icon__default
					svg
						use(xlink:href="#icon-profile")

			li.menu-user__dropdown-item(ui-sref='logout')
				span Sair
				i.icon.icon__default
					svg
						use(xlink:href="#icon-logout")

			hr.word-divider__line

			//- li.menu-user__dropdown-item.menu-user__dropdown-item--count(data-count="240")
			//- 	| Notificações
			//- 	i.icon.icon__default
			//- 		svg
			//- 			use(xlink:href="#icon-notification")
			//-
			//- li.menu-user__dropdown-item.menu-user__dropdown-item--count(data-count="12")
			//- 	| Documento Novo
			//-
			//- li.menu-user__dropdown-item.menu-user__dropdown-item--count(data-count="09")
			//- 	| Alteração de Cadastro
			//-
			//- li.menu-user__dropdown-item.menu-user__dropdown-item--count(data-count="32")
			//- 	| Novo pedido de férias
			//-
			//- li.menu-user__dropdown-item.menu-user__dropdown-item--count(data-count="190")
			//- 	| Reembolso aberto
			//-
			//- a.menu-user__callback.uppercase(href="") ver todas as notificações

	li.menu-user__item(ng-controller="ToggleController", ng-click="showItens()")
		.menu-user__photo
			img(src="http://placehold.it/50x50", alt="")

		ul.menu-user__dropdown.menu-user__dropdown--company(ng-class="{ 'menu-user__dropdown--active': componentActive }",ng-controller='CompaniesChangeController')
			li.menu-user__dropdown-item(ng-repeat='item in list')
				span.company-type(data-company-type="{{ item.type == 'headquarters' ? 'sede' : 'Filial' }}", ng-click='change(item)') {{item.trading_name}}

				div.pull-right
					.menu-user__photo
						img(src="http://placehold.it/50x50", alt="")

			a.menu-user__callback.uppercase(ui-sref="register.company")
				span cadastrar empresa
				button.bt__round
					i.icon__plus.icon--green
