.auth {
  // height: 100%;
  // background-image: url("../assets/images/background.png");
  // background-repeat: no-repeat;
  // background-position: left bottom;
  // background-size: 100%;

  &__title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: $font-openSans;
    font-weight: $light;
  }

  &__container {
    margin: 0 auto;
    float: none;
  }

  &__box {
    @extend %box-shadow;
    padding: 40px 20%;
    background-color: #FFFFFF;
  }

  &__forward-link {
    display: block;
    text-align: center;
    color: map-get($colors, green);
    margin: 20px 0 50px;
  }

  &__terms {
    margin: 10px 0 20px;
    text-align: center;

    &-label {
      font-size: 15px;
      font-weight: $semi-bold;
    }
  }
}

.logo {
  margin: 30px 0;
}
