.guide {

  &__container hr {
    border-color: #000000;
  }

  &__nav {
    float: left;
    width: 20%;
    background-color: #3D3D3D;
    padding: 30px;
    height: 100%;
    color: #FFF;

    &-link {
      margin: 4px 0 0 3px;
      color: #999;
      display: block;
      transition: .5s linear;

      &:hover {
        color: map-get($colors, green);
        margin-left: 15px;
        transition: .3s linear;
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: 10px;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }

  &__container {
    float: left;
    width: 80%;
    padding: 30px;
  }

  &__block {
    @extend .clearfix;
    margin-bottom: 150px;

    &--color {
      @include j-span(1/6);
      color: #FFFFFF;
      height: 70px;
      float: left;
      text-align: center;
      line-height: 70px;
    }
  }

}
