.payment {
  @extend .clearfix;
}

.payment__box {
  background-color: #DDD;
  padding: 20px;
}

.payment__title {
  font-size: 24px;
  margin-bottom: 30px;

  &:before {
    content: attr(data-number);
    display: inline-block;
    padding: 10px 13px;
    background-color: #999999;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    position: relative;
    top: -3px;
    margin-right: 15px;
  }
}

.payment__footer-container {
  margin: 0 auto;
  float: none;
}

.payment__type {
  @extend .clearfix;
  padding: 20px;
  background-color: #EEE;

  &:first-of-type {
    margin-bottom: 20px;
  }

  &-icon {
    font-size: 23px;
    position: relative;
    top: 7px;
  }
}

.payment__radio-box {
  margin-bottom: 20px;
}
