.register__label {
  font-weight: normal;
  font-size: 28px;
}

.register__fileinput .bt {
  margin: 30px 0;
}


.register {
  .radio-icon {
    width: 22%;
    vertical-align: top;
    margin: 0 10px 10px 0;

    &__label {
      width: 100%;
    }

    &__text {
      height: 30px;
      display: inline-block;
    }
  }

}