.employe {
  &__container {
    @include j-cf()
    @extend %box-shadow;
    width: 80%;
    margin: 0 auto;
  }

  &__panel {
    @include j-cf();
    padding: 35px;
    background-color: #FFFFFF;
    clear: both;
  }


  &__number {
    float: right;
  }

  &__upgrade {
    font-weight: $bold;
    margin-right: 15px;
  }

  &__status {
    border-right: 1px dotted #CCC;
    padding: 20px 0;
    background-color: #f9f9f9;
    color: map-get($colors, red);
    text-align: center;

    &--complete {
      color: map-get($colors, green);
    }

    .icon__user {
      display: block;
      margin: 0 auto 10px;
    }

    .bt {
      margin: 10px;
    }
  }

  &__status-icon {
    font-size: 40px;
    display: block;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    line-height: 40px;
    color: map-get($colors, green);
  }

  &__status-divider {
    position: relative;
    width: 80%;
    margin: 10px 0 10px 10%;
    float: left;
  }

  &__status-label {}
  &__status-situation {}

  &__number {
    text-align: right;
  }

}

.row-employe {
  @include j-cf();
  margin-top: 20px;

  &__group {
    position: relative;
    @include j-column( 1/3, 0, 3, 0.3 );
  }

  .input-group__small {
    margin-bottom: 0;
  }
}

.row-employe-status {
  @include j-cf();
  border-top: 3px solid #e6e6e6;
  float: left;
  width: 100%;

  &:last-child {
    border-bottom: 3px solid #e6e6e6;
  }
}

