.register--personal #fs-form-wrap,
.register--additional #fs-form-wrap,
.register--branch #fs-form-wrap {
  padding: 40px 90px 140px 40px;
}

.register--additional #fs-form-wrap .fs-title {
  position: relative;
  z-index: $level-2;
}

 .register--personal
,.register--branch
,.register--company
,.register--additional {
   .fs-nav-dots {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
