.welcome {

  &__title {
    font-family: $font-medium;
    margin-bottom: 5px;
    color: #4d4d4d;
  }

  &__subtitle {
    color: map-get($colors, green);
    text-transform: uppercase;
    font-family: $font-medium;
    margin: 20px 0;
    font-weight: $light;
  }

  &__callback {
    margin-top: 20px;
  }

  &__company {
    text-align: center;
    margin-bottom: 30px;

    &-image {
      border-radius: 50%;
      max-width: 50px;
      max-height: 50px;
    }

    &-name {
      display: block;
    }

  }
}
