form(ng-submit='saveOrUpdate()',ng-controller='LicensesRegisterController',autocomplete='off', name='RegisterForm')
    div.sidebar
        div.sidebar__wrapper

            div.col-xs-12
                h1.sidebar__title {{ title }}

            div
                div.col-xs-12
                    label.label-small
                        | Usuário
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item as item.display_name for item in users',ng-model='license.user',ng-if='UserService.isAdmin()',required='required' )
                        select.inside-input(ng-options='item as item.display_name for item in [UserService.user()]',ng-model='license.user',ng-if='!UserService.isAdmin()',ng-init='license.user_id = UserService.userId();',required='required')

                div.col-xs-12
                    label.label-small
                        | Tipo
                    input.input-border(ng-model='license.type',required='required')

                div.col-xs-12
                    label.label-small
                        | CID
                    input.input-border(ng-model='license.icd',required='required')

                div.col-xs-6
                    label.label-small
                        | Ínicio
                    input.input-border(ng-model='license.starting',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

                div.col-xs-6
                    label.label-small
                        | Fim
                    input.input-border(ng-model='license.ending',ui-date-mask,convert-date='YYYY-MM-DD',required='required')

                span(ng-if='!UserService.isAdmin()',ng-init='license.status = "requested"')
                div.col-xs-12(ng-if='UserService.isAdmin()')
                    label.label-small
                        | Status
                    div.input-border.input-group__small
                        select.inside-input(ng-options='item.slug as item.name for item in statuses',ng-model='license.status',ng-selected='requested',required='')

                div.col-xs-12
                    fieldset.radio
                        input.radio__input(id="one-day", name="one-day" type='checkbox',ng-model='license.one_day',ng-change='setOneDay()')
                        label.radio__label(for="one-day") Apenas 1 dia

        .sidebar__wrapper.text-center
            button.bt.bt--green.bt--l(ng-hide='!license.$resolved')
                | {{ license.id ? 'Salvar' : 'Cadastrar' }}

            div.loader.little(ng-hide='license.$resolved')
                include ../partials/loader
